[2013-01-01 12:50] tkruse opened #1 "missing nodelet dependencies"
building desktop-full from source, pcl_ros fails:
Adding "nodelet nodelet_topic_tools" to find_package fixes that.

Compile errors below:

In file included from /home/kruset/groovy_underlay/src/pcl_ros/src/pcl_ros/io/concatenate_fields.cpp:42:0:
/home/kruset/groovy_underlay/src/pcl_ros/include/pcl_ros/io/concatenate_fields.h:42:29: fatal error: nodelet/nodelet.h: No such file or directory

/home/k

[2013-01-01 13:52] #1 closed, assigned to nobody

[2013-01-01 13:53] vrabaud commented on #1
thx, re-releasing now.

[2013-01-21 08:53] jkammerl opened #3 "[fuerte] build error on Debian/AMD64"
ticket moved from https://code.ros.org/trac/ros-pkg/ticket/5585

I get a compilation error when trying to build the release 345, when using rosmake perception_pcl.

/opt/ros/fuerte/share/perception_pcl/pcl/build/pcl_trunk/tools/crop_to_hull.cpp:132:3: error: "ConcaveHull?" is not a member of "pcl"

[2013-01-21 09:09] jkammerl opened #4 "pcl_ros, bag_to_pcd assumes TF"
ticket from: https://code.ros.org/trac/ros-pkg/ticket/5257

bag_to_pcd assumes TF to be present in the bag which is absolutely not necessary for just converting a bag file to a pcd file. The fact that it requires the TF topic is not documented anywhere and even worse, it assumes to always see the frame base_link.

I suggest to make the transform part optional, document it, and make the frame name

[2013-01-31 11:41] patrigg commented on #3
I had the same problem.

The solution for me was to install libqhull:
sudo apt-get install libqhull-dev

So this is not really a bug in the library

[2013-02-05 16:45] togaen opened #5 "pcl_ros executables installed to wrong place in groovy"
The executables for the pcl_ros package are installed to /opt/ros/groovy/bin, which means that rosrun cannot find them. See this page: http://answers.ros.org/question/54132/pcl_ros-bag_to_pcd-not-found/

[2013-02-05 16:49] tkruse commented on #5
Also see https://groups.google.com/d/topic/ros-sig-buildsystem/hsxeJocnKIQ/discussion

[2013-02-05 17:47] jack-oquin commented on #5
I do think this is a bug. But, one could argue that these script names are sufficiently descriptive to legitimately install in the main /opt/ros/DISTRO/bin directory.

Regardless, the effect of fixing this in Groovy needs to be considered carefully. People who are already adapting to the new placement will be broken if it suddenly moves to the package-local directory, `$PREFIX/lib/pcl_ros`. Ideall

[2013-02-05 20:40] jkammerl commented on #5
Thanks for bringing this up! Yes, I agree the perception_pcl tools shouldn't be globally installed. I added install targets to $PREFIX/lib/pcl_ros and we will remove them in Hydro from DISTRO/bin.

[2013-02-05 20:40] #5 closed, assigned to nobody

[2013-02-05 21:48] tkruse commented on #5
It helps to point to the commit that fixes the issue:
d0e2a9ddd

[2013-02-24 11:16] ghost commented on #3
That solved the problem.
Thanks

[2013-03-04 18:02] pirobot opened #7 "pcl/* nodelets no longer load under Groovy/Precise"
Tested using the latest Groovy debs and Ubuntu 12.04LTS.  Also reported on [answers.ros.org](http://answers.ros.org/question/54821/error-nodelet-pcl-crash/) on Feb 9, 2013.

To reproduce:

Terminal 1:

[code]

Terminal 2:

[code]

and in Terminal 1 we get the error:

[ERROR] [1362419929.099306606]: Failed to load nodelet [/pcl_PassThrough] of type [pcl/PassThrough]: According to the loaded plugin

[2013-03-04 18:19] #7 closed, assigned to nobody

[2013-03-04 18:19] vrabaud commented on #7
thx for reporting, the typo got fixed, re-releasing now.

[2013-03-06 15:32] vrabaud commented on #7
thx for the feedback, always good to hear :)

[2013-05-02 19:12] k-okada opened #9 "why class_loader_hide_library_symbols is needed?"
Hi,

We're developing pcl::FIlter based PCL nodelet library at http://svn.code.sf.net/p/jsk-ros-pkg/code/trunk/jsk_pcl_ros, but it does not work since groovy.
Some of our code uses  pcl_ros::Filter as a super class, for example resize_points_publisher.cpp, but it fails to load as following message.

However, the code works, if we remove
    class_loader_hide_library_symbols(pcl_ros_filters)
from C

[2013-05-02 20:03] tfoote commented on #9
@mirzashah can answer more fully.

But at the high level.  You cannot depend on symbols in other plugins due to them being dynamically loaded, and potentially unloaded while you're running.  Even worse is if you get linked against other plugins you can no longer unload correctly.

PS for questions answers.ros.org is more appropriate.

[2013-05-02 20:03] #9 closed, assigned to nobody

[2013-05-08 23:39] jarvisschultz opened #10 "perception_pcl broken on ros-fuerte-desktop-full 1.0.0-s1367681458~precise deb"
I am running 12.04 with ROS Fuerte.  Yesterday there was an update released to the official repositories that appears to have broken most (all?) nodes that use pcl libraries in them.  I have simple nodes that just call one or two pcl functions, I have launch files that start various filter nodelets, as well as more complicated examples.  Every node I have tried crashes.  I tried reinstalling all o

[2013-05-09 00:10] jkammerl commented on #10
Thanks for your report.

The fuerte version of perception_pcl has not been touched or rereleased since more than 4 months. Hence I do not see how it can be suddenly corrupted. Since the fuerte cycle is about to end with the release of hydro soon, I suggest to update to groovy/hydro anyways.

If you figure out what is causing this bug, please create a pull request.

ps. does the source build of per

[2013-05-09 16:41] jarvisschultz commented on #10
Looking at the commits, you are absolutely correct about the lack of commits.  That being said, somehow, there is something incompatible on the current Fuerte build.  Do you have any ideas as to what other packages could be causing this?  I'm assuming this is just a packaging error... where would I file a bug report for that?

The source build of perception_pcl does not work on the fuerte-devel br

[2013-05-09 17:24] tfoote commented on #10
What hardware are you running?

On Thu, May 9, 2013 at 9:41 AM, jarvisschultz notifications@github.comwrote:

[2013-05-09 17:38] jarvisschultz commented on #10
Not exactly sure what hardware you are interested in, but here goes:
- Dell Studio XPS 1645
- Intel i7 720@1.6GHz
- ATI Radeon HD 4670
- Ubuntu 12.04 64bit
- DIMM_A 2GiB DDR3 @ 1333Hz
- DIMM_B 4GiB DDR3 @ 1333Hz

On answers.ros.org there is [this question](http://answers.ros.org/question/62453/several-died-after-update-ros-fuerte-navigation-version-183/) where the guy is having problems with compo

[2013-05-10 15:56] jack-oquin commented on #10
Another probably-related question:
- http://answers.ros.org/question/62510/sigill-illegal-instruction-in-libpcl_commonso151-from-costmap_2d

We should consider the possibility that the root cause is somewhere in the build farm, not necessarily in perception_pcl.

[2013-05-10 23:48] jack-oquin commented on #10
Does the build farm produce generic i386 and amd64 binaries, or are they optimized for the hardware on which the build runs?

[2013-05-13 22:57] jkammerl commented on #10
The perception_pcl package compiles with SSE build flags:

add_compile_flags (pcl_ros_filters ${SSE_FLAGS})

To me it looks like the build farm is using compile flags that are not compatible with your CPU. Does the package work if you compile it from source?

[2013-05-13 23:30] jack-oquin commented on #10
This user reports that it _did_ work when built from source:
- http://answers.ros.org/question/62510/sigill-illegal-instruction-in-libpcl_commonso151-from-costmap_2d

That `add_compile_flags()` seems to insist that all users must have SSE for the generated binaries to work, assuming the build farm has SSE, which it probably does.

The question is: what is the performance penalty when SSE is not us

[2013-05-13 23:50] jkammerl commented on #10
According to @gedikli, the difference in performance is significant. However, if the debs worked earlier, this could mean that it never got compiled with full SSE support on the buildfarm until now. What are the ${SSE_FLAGS} on your machine?

[2013-05-14 15:47] jarvisschultz commented on #10
According to `grep "SSE" CMakeCache.txt`, here are the SSE options that CMake set:

[code]

According to _/proc/cpuinfo_, my processor supports the following flags

[code]

[2013-05-14 16:01] jack-oquin commented on #10
I am not sure what the best policy is for building binaries of packages like this. We should raise the question on the ros-sig-buildsystem to arrive at a consistent answer.

For this particular package, it is obviously wrong to pick up random compile options based on which machine in the build farm it happens to use. For an existing release, like Fuerte or Groovy, we should force the flags to be t

[2013-05-14 17:39] tfoote commented on #10
Yeah, we should take this discussion onto the buildsystem sig so we can
develop a standard policy.  And we'll need to find out information about
the availability of SSE instructions.

On Tue, May 14, 2013 at 9:01 AM, jack-oquin notifications@github.comwrote:

[2013-05-15 01:09] bricerebsamen commented on #10
I am having a similar issue with PCL
- On one of my computer, I first noticed it about a week ago, when starting a PCLViewer it crashes with SIGILL and core dumped.
- On my laptop and my desktop, everything is fine.
- On another laptop, which is recent but low specs, pcd_viewer crashes with SIGILL. cpuinfo reports that ssse3 is supported.

Running in gdb does not give anything useful but I haven't

[2013-05-15 04:23] jkammerl commented on #10
@jarvisschultz Thanks for posting your cpu infos. Interestingly, your machine supports all SSE instruction sets. I am not sure anymore if this is related to SSE.

@tfoote sent me the CPU infos of the buildfarm machines:

These are the cpu flags that are supported by the buildfarm but not by your machine:
ht tm pbe rdtscp arch_perfmon pebs bts rep_good xtopology nonstop_tsc
aperfmperf dtes64 monito

[2013-05-15 09:27] jspricke commented on #10
I've posted this to the sig-buildsystem:
https://groups.google.com/forum/?fromgroups=#!topic/ros-sig-buildsystem/iFb7-yNVyz8

Cheers Jochen

[2013-05-15 19:06] hcostelha commented on #10
I had the same problem. Compiled ros-fuerte-pcl to get it pass the "Illegal Instruction". Here are my laptop (with intel) CPU specs:

processor       : 0
vendor_id       : GenuineIntel
cpu family      : 6
model           : 15
model name      : Intel(R) Pentium(R) Dual  CPU  T3200  @ 2.00GHz
stepping        : 13
microcode       : 0xa3
cpu MHz         : 1000.000
cache size      : 1024 KB
physical id

[2013-05-21 23:34] DeFrenZ opened #14 "Linking issue in bag_to_pcd"
I have an issue with linking libraries to that executable. CMake does all right in finding all libs, but then in the making process i get:

Scanning dependencies of target bag_to_pcd
[  5%] Building CXX object CMakeFiles/bag_to_pcd.dir/tools/bag_to_pcd.cpp.o
Linking CXX executable /Users/DeFrenZ/ros_catkin_ws/devel_isolated/pcl_ros/lib/pcl_ros/bag_to_pcd
Undefined symbols for architecture x86_64:

[2013-05-21 23:47] jkammerl commented on #14
I am not sure. It could be related to a mismatch of the PointCloud2 message which is defined within ROS as well as within PCL. I saw similar linker errors that were related to this. Could you check which message headers are included on your machine?

[2013-05-21 23:57] DeFrenZ commented on #14
I must say it does link correctly src/transform.cpp which uses PointCloud2...

pcl did generate some msgs headers, but I can't find them in depend.make (made from CMake), while there are normal ros ones with the same names (PointCloud2.h is one of them)

Basically the ignored headers seem to be:
sensor_msgs/Image.h
sensor_msgs/PointCloud2.h
sensor_msgs/PointField.h
std_msgs/Header.h

I suppose I s

[2013-05-22 00:30] DeFrenZ commented on #14
I'm listing here all the linking errors for all the files that have them:
(I'm also noticing many headers refer to *Config.h files which are not in the source...)

Scanning dependencies of target convert_pcd_to_image
[100%] Building CXX object CMakeFiles/convert_pcd_to_image.dir/tools/convert_pcd_to_image.cpp.o
Linking CXX executable /Users/DeFrenZ/ros_catkin_ws/devel_isolated/pcl_ros/lib/pcl_ros/

[2013-05-23 05:21] bricerebsamen commented on #10
I made some investigation on the different machines that I have. All of them are running Precise with fuerte. I compared the flags on these machines, and found that the flags that are absent from the machines where this problem occurs are: avx, pln, pts, tsc_deadline_timer, x2apic, xsave, xsaveopt

here is the cpuinfo for 2 machines that have this illegal instruction problem

processor   : 0
vendo

[2013-05-23 08:11] einrob commented on #10
Hello,

I'm experiencing the same problems described here. I'm running on two machines booth Ubuntu 12.04 64Bit with Fuerte. On one machine all my nodes that using PCL are crashing due to illegal instructions. On the other machine everything is fine.

I looked up the CPU flags on booth machines:
Intel® Core™2 Quad CPU Q9300 @ 2.50GHz × 4  (crash)
Flags: fpu vme de pse tsc msr pae mce cx8 apic sep

[2013-05-26 17:57] MarkusEich commented on #10
Hi there. I have the same problem with PCL and ros. This was driving me crazy on the weekend. I have two machines. One Laptop and one Desktop. The very same code is runnig on two machines. I use PCL_IO for reading and writing pcl files. I tried ros-pcl 1.5 and also build 1.7 from source. Both versions work on the Laptop. Both versions crash on the Desktop. I think this is somehoe related to an upd

[2013-05-27 13:39] MarkusEich commented on #10
Hi there. A colleague just found a solution for the problem.

First grab a pcl source code from github (ros-gbp/pcl-fuerte-release.git) on "debian/fuerte/precise/pcl" branch. Compile the pcl on your machine. Finally replace all pcl libraries on /opt/ros/fuerte/lib with your newly build library.

This should fix the issue with ROS and PCL

[2013-05-28 00:42] jack-oquin commented on #10
@MarkusEich:

That may be a reasonable temporary work-around, but it is _not_ a fix for this issue.

The next time a PCL binary is released it will replace your locally-compiled **/opt/ros/fuerte** libraries. When that happens, we need to make sure it is built with the correct compile flags, so your systems will continue to work.

[2013-05-28 13:18] ahornung commented on #10
Our whole lab also ran into this problem with ros-fuerte-pcl version 1.5.2-9precise-20130502-0928-+0000:

[code]

 This happens on recent i7 desktop machines, not netbooks or similar.

[code]

A release for fuerte should never break existing functionality. Any code simply accessing point clouds to filter nans now breaks: http://code.google.com/p/alufr-ros-pkg/issues/detail?id=10

This is particula

[2013-05-28 14:48] jack-oquin commented on #10
I agree with @ahornung. This should have been done already as an "emergency release".

[2013-05-28 17:42] jkammerl commented on #10
@ahornung: According to OSRF, the build farm was recently updated but compile flags did not change.

SSE flags are the only CPU-related build flags that pcl and perception_pcl manually sets within they CMakeLists.txt. I am not sure if disabling them will fix this problem since several machines that observe these SIGILL crashes have full SSE support (according to the CPU flags that are posted here)

[2013-05-28 21:32] ahornung commented on #10
That's weird, SSE up to SSE3 could be considered standard now, they've been around for almost a decade and are even supported on an Atom... if they are crucial for performance (and were used by default up till now!) then it should not be necessary to disable them. Unless the flags (wrongly?) also lead to other machine-specific optimizations on the build farm.

[2013-05-28 21:46] jack-oquin commented on #10
Is it clear that SSE is actually the problem here? At least some of the machines on which problems were reported _do_ support various SSE options.

Exactly which instructions are causing the SIGILL exceptions? Are they the same for everyone?

Does anyone know _exactly_ which compile flags were set for previous Fuerte PCL releases? If we can figure out what they were, I'd vote for compiling with id

[2013-05-28 21:53] ahornung commented on #10
I have only seen calls to `PCLBase::initCompute()` causing SIGILL, e.g. from  `pcl::PassThrough<pcl::PointXYZ>::applyFilter(...)`

[2013-05-28 22:08] jack-oquin commented on #10
I was asking about machine instructions, not source code.

[2013-05-28 23:07] mpups commented on #10
I haven't looked at the actual disassembly but for me the crash was on the return statement of initCompute(). This might suggest xsave instructions for saving/restoring avx registers are being inserted by the compiler. On non-avx architectures this would cause an illegal instruction. You probably have -march=native flag (or similar) set by mistake (and the build farm's machines have been upgraded

[2013-05-28 23:15] bricerebsamen commented on #10
which is consistent with my observation that the flags that are absent from the machines where this problem occurs (2 out of 6) are: avx, pln, pts, tsc_deadline_timer, x2apic, xsave, xsaveopt

[2013-05-28 23:48] hershwg opened #16 "Filter class should be compiled separately from pcl_ros_filters library"
Documentation about the pcl_ros::Filter class http://ros.org/doc/groovy/api/pcl_ros/html/classpcl__ros_1_1Filter.html makes it appear that it is a class which can be used by implementers of new pcl filter nodelets.

However as pointed out in #9 the CMakeLists.txt file includes the line "class_loader_hide_library_symbols(pcl_ros_filters)", and pcl_ros_filters is the only library containing the comp

[2013-05-29 03:41] catskul commented on #10
@jack-oquin

for me apparently `vmovsd`

[code]

[2013-05-29 03:51] tfoote commented on #16
Yes, the cleaner solution would be to make it a separate object such that it is reuseable.

[2013-05-29 05:51] jkammerl commented on #10
It seems that Eigen had already issues with SSE in the past:
http://www.pcl-users.org/HELP-Program-received-signal-SIGILL-Illegal-instruction-Problem-with-Eigen-Matrix-Function-td3426589.html
http://comments.gmane.org/gmane.comp.lib.eigen/431

I commented out the "PCL_CHECK_FOR_SSE()" macro in the PCL fuerte release and as well as "rosbuild_check_for_sse ()" macro in the pcl_ros package / percepti

[2013-05-29 06:50] catskul opened #17 "Deb package build?"
Is there a way to generate deb packages for perception_pcl? I didn't see any make targets.

[2013-05-29 06:55] jkammerl commented on #17
Since ROS groovy, make targets are typically generated using catkin/cmake.
http://www.ros.org/wiki/catkin

For the generate of debians from ROS packages, please have a look at bloom:
http://www.ros.org/wiki/bloom

[2013-05-29 06:55] #17 closed, assigned to nobody

[2013-05-29 06:56] catskul commented on #17
Any options for fuerte? As I understand it, catkin and bloom are only available in groovy and beyond.

[2013-05-29 07:01] jkammerl commented on #17
hm.. not sure. You may find some information here: http://www.ros.org/wiki/release/Releasing

[2013-05-29 07:02] tfoote commented on #17
There's a large build pipeline, which is not designed to be easily
replicated.  You fan find find the script template at:
https://github.com/ros-infrastructure/buildfarm/blob/master/buildfarm/resources/templates/dry_release/build.sh.em
but
there's a lot of infrastructure setup which is not documented, and this is
deprecated so it won't be claned up or documented.

If you just want to build debs th

[2013-05-29 07:10] catskul commented on #17
Thanks for the info. Was hoping to be able to build the fix for the SSE/AVX issue with a good way to distribute to multiple team members. Probably better to wait for the fix to land in the repo instead.

[2013-05-29 10:18] mpups commented on #10
I am sorry. I don't think you have understood the problem. You are setting compile flags (or CMake is passing them behind the scenes without you knowing) which are optimizing the code for the native-host (the build machine).

Try the following command:

$ objdump -S /opt/ros/fuerte/lib/libpcl_filters.so | grep xmm15

If this has output then the code is being generated for sandy bridge or newer arc

[2013-05-29 10:35] mpups commented on #10
Also try

$ objdump -S /opt/ros/fuerte/lib/libpcl_filters.so | grep vmulsd

vmulsd (with 3 operands) is a cast iron AVX only instrustion. Even with SSE enabled the compiler should not be using AVX only instructions for a generic build.

[2013-05-29 11:42] ahornung commented on #10
Here is the actual problem in PCL trunk:
https://github.com/PointCloudLibrary/pcl/blob/master/cmake/pcl_find_sse.cmake#L18

[code]

And here in Version 1.5 (used in fuerte):
https://github.com/PointCloudLibrary/pcl/blob/pcl-1.5.1/cmake/pcl_find_sse.cmake#L104

Instead of just explicitly enabling SSE flags, all native optimizations are used for all GCC > 4.2.. This is the actual part that should be

[2013-05-29 12:33] jack-oquin commented on #10
@ahornung:

You are right that use of native SSE flags needs fixing for binary releases, but for source compilation it is often what is wanted.

What is needed upstream (IMHO) is a compile option for creating canonical binaries that can be widely distributed to run on a reasonable range of processors. The `-march=native` is clearly wrong in that case.

@jkammerl:

From what people are reporting, r

[2013-05-29 15:24] mpups commented on #10
Another alternative is to build multiple .so files for each architecture you wish to support (with different names obviously) and dynamically load the correct one in the main .so library (which would just be a stub containing a runtime check of what the processor supports). This might be a pain for different reasons, but it is an option you could consider.

[2013-05-29 15:33] jack-oquin commented on #10
@mpups:

You are right to point out the dynamic loading and configuration option.

But, it should not be considered as a fix for Fuerte, which was released long ago, and should now be held _stable_.

[2013-05-29 18:32] catskul opened #18 "manifest.xml causing compile errors in dependent package (fuerte/Precise)"
Not sure if this is a wont fix since fuerte stuff is being deprecated, but...

Building a dependent package I get the following:

[code]

I found this which seems to be the same problem from a year ago:
https://code.ros.org/trac/ros-pkg/ticket/5243

Unfortunately the patch doesn't work completely on the current version.

I was able to get around the problem by commenting out the contents of `vtk_i

[2013-05-29 19:00] catskul commented on #10
I've been unable to work around this problem with compile `perception_pcl` from source because I have no safe way to install/distribute the result in a way that doesn't have the potential to mess users' systems where ros is otherwise installed via `apt` (aka, I can't build debs that will replace the current version)

The pcl package that is built using the repo is ignored even when it's at the fro

[2013-05-29 19:45] jack-oquin commented on #10
@catskul:

If your source overlay is being ignored in favor of `/opt/ros/fuerte/`, there is something wrong with your `$ROS_PACKAGE_PATH`.

I certainly hope there will be an apt update soon, but I have no control over that.

[2013-05-29 19:59] jkammerl commented on #10
@ahornung, @mpups: Great finding!! I agree, this -mach native optimization should not be used on the build farm and it sounds very likely that this causes the trouble discussed here. I will patch the gbp repo and trigger a rerelease. I don't think that this should be fixed in upstream in order to still provide full optimization for source builds.

It seems that the old build farm did not provide S

[2013-05-29 20:16] catskul commented on #10
@jack-oquin As I understand it, in fuerte, `pcl` is not a package in the way that `pcl_ros` is, but rather a system level library installed to a non-standard location. It's libraries are installed to `/opt/ros/fuerte/lib` instead of the say the way `pcl_ros` would be to `/opt/ros/fuerte/stacks/perception_pcl/pcl_ros/lib`. As such, having my custom build `perception_pcl` directory at the front of `

[2013-05-30 01:29] jack-oquin commented on #10
@catskul: You are probably right. Please pardon my mistake.

It still seems like there should be a way to do it with catkin workspaces, but maybe those don't fully work on Fuerte.

[2013-05-30 10:58] mpups commented on #10
@jkammerl Glad to help. Please note I expect the old build farm did support SSE it just didn't support AVX (advanced vector extensions - i.e. more sse registers and some new instructions). The newer build farm must have the AVX extensions which caused the problem. I believe the following options would be safe (unless you wish to support processors before pentium4!):

-mtune=native -mfpmath=sse2

I

[2013-05-30 11:08] jspricke commented on #10
Please don't use native optimizations for release .debs. There is dpkg-buildflags, that should be used, as we agreed here: https://groups.google.com/forum/?fromgroups#!searchin/ros-sig-buildsystem/buildflags/ros-sig-buildsystem/iFb7-yNVyz8/o9VBom_vKO4J

[2013-05-31 19:10] jkammerl commented on #10
The updated debs of ros-fuerte-pcl are already available on ros-shadow-fixed and can be also downloaded here: http://50.28.27.175/repos/building/pool/main/r/ros-fuerte-pcl/
Please let me know if they fix the SIGILL crashes. Thanks

[2013-06-02 04:20] #3 closed, assigned to nobody

[2013-06-02 04:22] jkammerl commented on #4
I am closing this issue since nobody referenced it in a log time. If this problem still exist, please open a new ticket.

[2013-06-02 04:22] #4 closed, assigned to nobody

[2013-06-04 08:52] alex-ruehe commented on #10
I just found this ticket and updated my lib. It works for me. Thanks!

[2013-06-05 05:00] jkammerl commented on #10
Since I did not receive any bug reports since the revised release of perception_pcl, I am closing this issue now. Please feel free to reopen it again if any SIGILL crashed still occur.

[2013-06-05 15:00] jarvisschultz commented on #10
Just FYI, Fuerte updates showed up in the main repositories last night (version 1.2.4-s1370068469~precise).  I updated, and indeed the SIGILL errors I was seeing have disappeared.

[2013-06-05 15:33] jkammerl commented on #10
Thanks for your feedback!

[2013-06-08 00:27] sevenbitbyte commented on #10
I'm hitting a nearly identical issue on groovy. Did the groovy packages also get rebuilt?

[2013-06-08 02:46] jkammerl commented on #10
Yes, it looks like it just got rebuild. I will try to patch and retrigger the release asap.

[2013-06-09 01:22] jkammerl commented on #10
I applied corrisponding patches to the groovy and hydro release repo here:
https://github.com/jkammerl/pcl-release
However, I ran into some problem when rereleasing it with bloom.. All patches needed are already exported to the patch branches. @wjwwood, @vrabaud  It would be great if you could take a look and trigger a new release. Thanks a lot!

[2013-06-10 21:04] catskul commented on #18
Other reports of the same issue:

http://answers.ros.org/question/64501/pcl-error-in-ros-fuerte/

[2013-06-10 21:06] catskul commented on #10
Looks like there was a VTK build patch missing:

http://answers.ros.org/question/64501/pcl-error-in-ros-fuerte/

[2013-06-11 09:02] jkammerl commented on #10
Reopening this issue until the ROS pcl package for groovy and hydro has been rereleased.
I am not sure how the VTK patch can be easily applied to a catkin build environment. @wjwwood:  what do you think?

[2013-06-11 15:50] abencz commented on #18
Not sure what happened here, but from 1.2.3 to 1.2.4 perception_pcl ballooned from 14MB to 159 MB:

[code]

Is this related to the build problems?

Note that this breaks building most packages that depend on pcl :(

[2013-06-11 16:51] jkammerl commented on #18
The current release is directly based on the 1.2.3 tar ball of the source deb:
https://code.ros.org/svn/release/download/stacks/perception_pcl/perception_pcl-1.2.3/

Maybe the source deb was not in sync with the binary deb?! @tfoote, @wjwwood: Any idea?

[2013-06-11 18:32] catskul commented on #18
This is actually a big problem. It seems that the latest perception_pcl includes pcl inside it unlike the previous version. Further, the version of pcl that it includes is pcl-1.4. This conflicts with the fuerte installed pcl version 1.5 and the result is build breaks. In my case I had to manually remove the pcl directory from /opt/ros/fuerte/stacks/percpetion_pcl/pcl to solve my problem.

[2013-06-11 18:53] wjwwood commented on #10
I don't even remember making that patch :confused:...

I'm not sure that the patch will be needed for catkin.

[2013-06-11 21:42] catskul commented on #10
The patch looks like it might be a fix for the difference cmake versions. The older cmake (the standard one that installs from repository in 12.04) doesn't allow scripting of certain things from what I can tell.

[2013-06-11 22:34] fmder opened #20 "ros_pcl filters plugin not found by FilterChain"
FilterChain use a hardcoded "filters" package name for searching for plugins. Registering all the pcl_ros plugins in the nodelet package makes them unavailable to the filters::FilterChain tool.

Moreover, the base_class_type (in pcl_nodelets.xml) is pointing on  nodelet::Nodelet, shoudn't it be something like filters::FilterBase<sensor_msgs::PointCloud2>. Even though it is not really inheriting fr

[2013-06-13 02:01] tigershadowclaw commented on #18
I was having the same issue and moving the pcl folder seems to have fixed it.  (its compiling right now).

Thank you for saving me a lot of headaches Catskul!

[2013-06-13 17:55] jon-weisz commented on #10
I am also having this problem on Groovy/Precise64 today using shadow-fixed. Adapting the work-around from @MarkusEich for Groovy was a reasonable short term workaround for me. For this, I checked out the /debian/groovy/precise/pcl branch of the  pcl-release package from git://github.com/ros-gbp/pcl-release.git outside of my workspace, compiled it using cmake, and copied the resulting libs director

[2013-06-14 00:41] wjwwood commented on #10
I released pcl for groovy and hydro with the SSE patch:

https://github.com/ros/rosdistro/pull/1009

So it will be in the pipeline soon.

I do not thing the VTK patch is required now, comment back here if you run into trouble with vtk >= 5.8.

[2013-06-14 00:41] #10 closed, assigned to nobody

[2013-06-14 01:56] jkammerl commented on #10
Awesome! Thanks William!

[2013-06-14 02:46] sdmiller opened #21 "Converting between pcl and ROS classes"
As per discussions on the pcl mailing list  (http://www.pcl-developers.org/Separating-pcl-and-ROS-td5707911.html) and github (https://github.com/PointCloudLibrary/pcl/pull/110), we're looking to get rid of ROS/pcl conflicts. That means PointCloud2, Header, Image, and PointField will no longer directly be used in pcl.

To make this easier on ROS users, it'd be great to have code which converts betw

[2013-06-14 22:52] wjwwood commented on #18
So @catskul and @jkammerl would you agree that the action to be taken is to remove `pcl` from `perception_pcl` in `fuerte` and release it again?

[2013-06-16 01:30] catskul commented on #18
As far as I know, that solves all the problems I've run into. The only think I'd be afraid of would be that it was somehow dependent specifically on 1.4.

[2013-06-16 20:03] jkammerl commented on #18
I removed the pcl folder and triggered a rerelease. Please reopen this issue if there are still problems with this release.

[2013-06-16 20:03] #18 closed, assigned to nobody

[2013-06-18 20:28] georgebrindeiro commented on #18
thanks! moving the pcl folder (<tt>/opt/ros/fuerte/stacks/percpetion_pcl/pcl</tt>) out of the way did the trick for me.

[2013-06-21 10:24] tpet opened #24 "Allow pcl/PassThrough nodelet to have filter limits outside the range [-5, 5]"
Restricting allowed values for filter_limit_min, filter_limit_max parameters to range [-5, 5] is very limiting and makes the filter useless for many use cases, especially for outdoor scenarios where corresponding values are often in the order of tens or hundreds. I don't understand why to introduce such limitations. (Having a nice step size for reconfigure_gui is not a good reason, IMHO.)

[2013-06-22 06:12] jkammerl commented on #21
Unfortunately, I don't have the resources to work on this right now. Maybe within the next week.. If anyone out there is interested in contributing a pcl-ros conversion header, it would be greatly appreciated! @MichaelKorn, your previous pcl-ROS contributions were all great! Would you be interested in helping us? Thanks!

[2013-06-23 08:53] MichaelKorn commented on #21
At the moment I don't have enough time, sorry. Maybe in two week, but not sooner.

[2013-06-24 04:28] wjwwood commented on #21
I might have some time to help with this. Is that link to the headers the only thing we have to work with right now?

Is there a preview version of PCL which I can build these conversions against?

Is there a complete list of classes which should be convertible?

[2013-06-24 04:45] jkammerl commented on #21
Awesome! Thanks a lot @wjwwood for offering help!

As far as I know we need copy constructors to convert between these classes:
sensor_msgs::Image <-> pcl_sensor_msgs::PCLImage
sensor_msgs::PointField <-> pcl_sensor_msgs::PCLPointField
sensor_msgs::PointCloud2 <-> pcl_sensor_msgs::PCLPointCloud2
std_msgs::Header <-> pcl_std_msgs::PCLHeader

@sdmiller, @rbrusu did I forget any  conversion?

[2013-06-24 08:22] sdmiller commented on #21
Great! Julius is correct, those are the only conversions we need.

There is a complete fork of PCL which makes the switch at
https://github.com/sdmiller/pcl/tree/remove_ros. I posted the headers
solely for convenience.

On Monday, June 24, 2013, Julius Kammerl wrote:

[2013-06-24 17:07] rbrusu commented on #21
Do we wanna call then pcl_sensor_msgs? Why not bring them into the pcl namespace?

[2013-06-24 17:14] wjwwood commented on #21
@rbrusu I'll start the conversion package today, just let me know if you guys decide to change the namespaces.

[2013-06-24 17:23] sdmiller commented on #21
@rbrusu I'm up for either. I changed it to make the migration as obvious as
possible for anyone getting compiler warnings. But fixing it is as easy as
a call to sed.

On Monday, June 24, 2013, William Woodall wrote:

[2013-06-24 21:52] wjwwood commented on #21
Is this supposed to be in nanoseconds?

https://github.com/sdmiller/pcl/blob/remove_ros/common/include/pcl_std_msgs/PCLHeader.h#L22

[2013-06-25 01:04] wjwwood commented on #21
So we had a talk internally here at OSRF about performance and these data types. This is currently the plan (I'll use `PCLImage` and the ROS version of `Image` in examples):

**Provide custom serializer for `PCLImage` to `Image`'s wire format:**

This allows users to create a ROS publisher of type `PCLImage` but which identifies as a ROS `Image` to potential subscribers. When moving the message fr

[2013-06-25 03:12] sdmiller commented on #21
Hi William,

Here's the code used throughout PCL for converting the time stamps:

ros_header.stamp.fromNSec (pcl_timestamp \* 1000);

So it looks like it's in microseconds.

On Tuesday, June 25, 2013, William Woodall wrote:

[2013-06-26 22:48] wjwwood commented on #21
I have a minimally complete package setup here:

https://github.com/ros-perception/pcl_conversions

I considered merging those conversions into the `pcl_ros` package, but I thought some people might want to depend on just the conversions and not the other stuff which comes with `pcl_ros`.

@sdmiller I have updated my code to reflect that.

I have a local devel branch where I am still testing the c

[2013-06-26 23:05] wjwwood commented on #21
Also, should this `pcl_conversions` package bring in the set of conversions implemented here:

https://github.com/PointCloudLibrary/pcl/blob/master/common/include/pcl/ros/conversions.h#L167

So that users can jump directly to `pcl::PointCloud<PointT>` from `sensor_msgs::PointCloud2` (and vice versa) rather than converting to `pcl_sensor_msgs::PCLPointCloud2` in between?

[2013-06-27 09:59] sdmiller commented on #21
@wjwwood Great! I've checked out the repository and it seems totally reasonable, but without a ROS application I can't weigh in on performance. It looks like exactly what I had in mind. As far as porting pcl/conversions.h -- that seems reasonable, though it does mean duplicating a bit of code. It's probably worth it for reducing the memory overload -- don't know if @jkammerl wants to weigh in here

[2013-06-28 10:00] jspricke commented on #21
+1 for pcl_sensor_msgs:: -> pcl:: (although this belongs into the pcl ticket).
+1 for from/toPCL.

Could we overload the cast operator and make the conversion transparent to the user (just adding the header should be enough..)?

What would be the use of adding the conversions.h? As for PCL1 we will stick with ::PointCloud2, so we need them anyhow (maybe we could change the name at some point).

[2013-06-28 18:22] wjwwood commented on #21
I'll update the function names.

I can add operator overloading for assignment and casting.

conversions.h now does the conversions, for example, PCL::PointCloud -> pcl_sensor_msgs::PCLPointCloud2. Then ROS users may need to convert pcl_sensor_msgs::PCLPointCloud2 -> sensor_msgs::PointCloud2. Each of those incurs a copy of the data. Without migrating the conversions.h code out of PCL (to somewhere

[2013-06-28 19:06] wjwwood commented on #21
Actually, I don't think I can do the cast operator overloading without some sort of global hook into each class. This would not be a clean thing to do. As far as I know you cannot overload the cast operator outside of the class so I would say we shouldn't do that. If someone disagrees then I would love some help implementing that one.

[2013-06-28 19:07] wjwwood commented on #21
I have updated the function names.

[2013-06-29 07:22] jspricke commented on #21
- William Woodall notifications@github.com [2013-06-28 11:22]:

Sounds good. (I was thinking of something else with my last comment,
sorry.)

Cheers Jochen

[2013-07-08 07:42] manox opened #25 "Running node which uses groovy-unstable-devel brings CAIRO_STATUS_SUCCESS' failed"
Hi,

when i use the groovy-unstable-devel branch of PCL for my projects, i always get the following after starting a node that uses PCL:

AssertionMessage: claws-mail: /build/buildd/cairo-1.10.2/src/cairo-surface.c:1287: cairo_surface_set_device_offset: Assertion `status == CAIRO_STATUS_SUCCESS' failed.

Sorry, im not very familiar with ros and that stuff.

[2013-07-11 11:16] MichaelKorn commented on #25
You should improve your issue description.
This problem isn't only related to PCL, but also affects many other:
https://bugs.launchpad.net/ubuntu/+source/chromium-browser/+bug/887850

[2013-07-18 16:18] jack-oquin opened #26 "provide a migration path so client code can support both Hydro and Groovy"
Most of this can be done with `#ifdef` tests in the client code.

But, there is least one problem with that: the new Hydro version requires `pcl_conversions`, which did not exist before. We need some way to make that dependency conditional and testable within client code.

One idea is for the Hydro version of `pcl_ros` to depend on `pcl_conversions`. That dependency could be removed in Indigo as a

[2013-07-18 19:02] wjwwood commented on #26
I don't think that this is the correct way to do this.

An alternative would be to release a version of `pcl_conversions` into groovy which basically does nothing, i.e. leave the header, but wrap all of the contents in a `#if pcl >= 1.7` macro.

I could even provide a dummy `pcl_conversions::to/fromPCL` for headers which in groovy will take this signature:

[code]

That way you won't have to check

[2013-07-18 19:46] jack-oquin commented on #26
That sounds like a much better solution to me, William, especially with the ability to back-port the new code cleanly to Groovy.

Should I close this and replace it with a new pcl_conversions issue?

[2013-07-18 20:06] wjwwood commented on #26
You can if you wish, I'll look into implementing that today.

[2013-07-18 20:17] jack-oquin commented on #26
OK, thanks. I'll be happy to help with testing.

[2013-07-18 20:17] #26 closed, assigned to nobody

[2013-07-19 23:29] dirk-thomas opened #27 "missing exported dependency breaks downstream packages on hydro"
While pcl_ros exposes pcl_conversions headers it does not export it as a CATKIN_DEPENDS.

The list of other packages not being part of CATKIN_DEPENDS is long but I don't know if that is correct or if some of them are also missing. Adding pcl_conversions here (https://github.com/ros-perception/perception_pcl/blob/hydro-devel/pcl_ros/CMakeLists.txt#L39) made the isolated build work for me.

[2013-07-20 00:30] wjwwood commented on #27
Fixed in a0de2e66dbc798d9348a52100ec6302b094918cd

[2013-07-20 00:30] #27 closed, assigned to nobody

[2013-07-23 23:38] wjwwood commented on #25
Closing, comment if it is still an issue.

[2013-07-23 23:38] #25 closed, assigned to nobody

[2013-07-23 23:39] wjwwood commented on #24
https://github.com/ros-perception/perception_pcl/commit/0567b0ced0faef31a58ec4138f553a60b6cc93b2

[2013-07-23 23:39] #24 closed, assigned to nobody

[2013-07-23 23:40] wjwwood commented on #21
This is done via the `pcl_conversions` package.

[2013-07-23 23:40] #21 closed, assigned to nobody

[2013-07-24 18:25] hsu opened #31 "pcl_rosConfig.cmake expects missing system install of libflann_cpp_s.a in precise"
In ubuntu precise (12.04), hydro packages compiled against `pcl_ros` fails because:

[code]

looks for

[code]

However, system install of `libflann-dev` does not provide a static version of the library in `/usr/lib`, it is found in

[code]

This worked in groovy because

[code]

depends on groovy custom package of static libflann library:

[code]

[2013-07-24 18:28] wjwwood commented on #31
`pcl_rosConfig.cmake` is generated. I'll look at the `CMakeLists.txt` to see if it lends any clues.

[2013-07-24 18:30] wjwwood commented on #31
This is most likely passed along incorrectly by PCL then, as `pcl_ros` does not directly depend on `flann`. See:

https://github.com/ros-perception/perception_pcl/blob/hydro-devel/pcl_ros/CMakeLists.txt#L78

I would look into the FindPCL.cmake or pcl-config.cmake files to see if this is where the issue comes from.

[2013-07-24 18:50] hsu commented on #31
The bit in [PCLConfig](http://svn.pointclouds.org/pcl/trunk/PCLConfig.cmake.in) referring to `libflann` looks relevant:

[code]

[2013-07-24 18:59] wjwwood commented on #31
I would use the git repo for referencing, I'm not sure if the SVN is up-to-date:

https://github.com/PointCloudLibrary/pcl/blob/master/PCLConfig.cmake.in

[2013-07-24 19:06] hsu commented on #31
Found the problem, for some reason my system upgraded me to libflann-dev 1.8.4.  Downgrading to libflann 1.7.1 fixed this problem.

[2013-07-24 19:08] #31 closed, assigned to nobody

[2013-07-25 07:57] mickeyxu opened #32 "SACSegmentation problems"
As a follow-up for #29, I'm trying to use the segmentation nodelets to get a plane model out of a point cloud.

First, I added the segmentation library to the pcl_nodelets.xml (don't know why this is missing here):

[code]

Then, I launch the nodelet in a launch file (which I found on ros answers):

[code]

Then, I got a memory problem(I change the NODELET_DEBUG to NODELET_WARN, because I don't kn

[2013-07-29 12:34] mickeyxu commented on #32
is there any progress on this issue? I wonder if I'm doing sth. wrong...Could anyone please check it?
Thanks!

[2013-07-29 17:19] wjwwood commented on #32
I don't have anytime to look at this right now. I'll get to it as soon as I can, otherwise someone else might have time to look into it?

[2013-09-05 14:54] meyerj opened #34 "cmake errors using released version of pcl_ros in hydro"
Hi,

I am currently getting the following cmake errors in packages using the binary pcl_ros package from the hydro repositories. I am using Ubuntu precise amd64. The current version is ros-hydro-pcl-ros 1.1.5-0precise-20130830-1312-+0000.

[code]

I do not have the include folder `/usr/include/ni` on my system, although all dependencies are fulfilled. If I install the package `libopenni-dev` which

[2013-09-05 18:05] meyerj commented on #34
Just saw the probably related discussion a few days ago on ros/rosdistro#1895.

[2013-09-05 18:59] wjwwood commented on #34
Can you make sure you have up-to-date packages, there was a related issue which was resolved recently:

http://lists.ros.org/pipermail/ros-release/2013-September/004203.html

[2013-09-05 19:38] meyerj commented on #34
Thanks! This issue seems to be solved with the latest set of `libpcl-*` packages.

[2013-09-05 19:38] #34 closed, assigned to nobody

[2013-09-06 12:12] fmder commented on #20
Using nodelets this is not an issue. I miss understood the concepts.

[2013-09-06 12:12] #20 closed, assigned to nobody

[2013-09-09 22:19] davetcoleman opened #35 "NI Not Found"
Myself and several others have run into this problem when installing gazebo_ros_pkgs from source for ROS Hydro. I haven't figured out what is causing it but I have found a workaround where if you uninstall everything (using something like synaptic) related to pcl (libpcl, ros-hydro-pcl, etc) and then re-install them, it seems to work. There's probably some dependency issue that needs to be fixed.

[2013-09-09 22:22] wjwwood commented on #35
If uninstall pcl stuff and reinstalling fixes it then it sounds like a temporary problem related to the state of your system. I don't think there is anything to fix here.

[2013-09-09 22:37] wjwwood commented on #35
@davetcoleman If you have an idea how this might be fixed by `pcl_ros` (or any other package) I am interested, I just don't see how I can fix this with a change in dependencies. Further more, having just looked over the dependencies I don't see anything I would consider incorrect, which needs fixing.

[2013-09-10 03:17] davetcoleman commented on #35
I don't have an idea I'm afraid. But I've ran into it twice on my machine - I think it occurs when you have both Groovy and Hydro installed. At the least, I thought posting this here might help others who are running into this issue in the short run.

[2013-09-16 08:46] mickeyxu opened #37 "missing library components in pcl_nodelets.xml"
Hi, I was just wondering, why there are only two library components written in the pcl_nodelets.xml (branch hydro-devel)? why are the other libraries not added, such as "pcl_ros_segmentation"?

Thanks!

[2013-09-16 17:11] wjwwood commented on #37
No idea, @jkammerl any clue?

[2013-09-17 20:29] georgebrindeiro commented on #35
I just ran into this issue and I have no idea how to fix it, but I have the same kind of setup davetcoleman mentions (both Groovy and Hydro installed). Thanks for the quickfix, Dave.

[2013-09-17 21:04] georgebrindeiro commented on #35
I couldn't get it to work by simply reinstalling. I had to manually remove <code>/usr/include/ni</code> from <code>/opt/ros/hydro/share/pcl_ros/cmake/pcl_rosConfig.cmake</code> (although I know I shouldn't edit that directly).

The reason why I don't have /usr/include/ni in the first place is related to this issue: https://github.com/ros-drivers/openni_camera/issues/19

[2013-09-17 21:23] wjwwood commented on #35
@tfoote

[2013-10-09 18:09] astaa-nrec opened #39 "Serializer<pcl::PointCloud<T>>::read(stream,m) segfaults for some values of m.width, m.height"
Consider the following program.

[code]

We can get this program to segfault if we send the following message:

[code]

The current version of pcl_ros/point_cloud.h attempts to guard against such messages with the assertion:

[code]

All of these variables have type `uint32_t`, making the assertion vulnerable to overflows, as the above message shows.

It would be safer to have these two assertions

[2013-10-09 18:26] astaa-nrec opened #40 "Serializer<pcl::PointCloud<T>>::read(stream,m) hangs"
Consider the program:

[code]

We can get this program to freeze by sending the message:

[code]

The program gets stuck in this loop in pcl_ros/point_cloud.h:

[code]

Two different ways this could be fixed:

1) Add an assertion like:

[code]

This says that if the message has no data content, then its width and height fields are zero. This is better than just `assert(data_size > 0)` because we d

[2013-10-09 18:42] wjwwood commented on #40
Thanks for the clear issue report. I'll look into making a fix for this when I get a chance, but this will get addressed faster if you can provide a pull request. I'll report back here when I start working on a fix (as not to have us both working on it).

[2013-10-09 18:43] wjwwood commented on #39
Thanks for the clear issue report.

A pull request would be greatly appreciated, otherwise I will work on a fix as time permits.

[2013-11-23 22:22] isanchez12 commented on #35
Wow, thanks George and Dave.I was dealing with the problem for a few days now, but it has now been fixed with  George's temporary solution.

Has there been any permanent fix for this problem?

[2014-01-07 18:22] tfoote opened #42 "Ogre 1.9 compatibility needs an ifdef for include of OgreFontManager.h"
More details here: https://github.com/ros/rosdistro/pull/2805

With the 1.9 version of ogre I commited last time I got errors when
compiling pcl_ros package  and gazebo from source. I got errors because the
file "OGRE/OgreFontManager.h" can not be founded. I search the filelist for
the 1.9 package (
http://packages.debian.org/sid/amd64/libogre-1.9-dev/filelist) and found
that the directory structu

[2014-03-05 08:21] trainman419 opened #44 "some part of PCL should probably depend on python-vtk and libvtk-java"
When compiling against PCL without python-vtk installed, I get many warnings like:

[code]

Installing python-vtk fixes this.

I get similar warnings that are resolved by installing libvtk-java:

[code]

[2014-03-05 17:51] wjwwood commented on #44
I'm not sure this should be fixed here. I think PCL should depend on them.

[2014-04-07 02:29] lzbones commented on #14
Try to use gcc/g++ instead of Clang? It works for me.

[2014-04-07 17:27] LucidOne opened #46 "bag_to_pcd does not support tf2"
Support for tf2 needed for Hydro and later

This is the quick way of fixing it.

Patch

[code]

If there is an example of the preferred migration approach I'd be happy to produce a patch.

[2014-04-07 20:10] wjwwood commented on #46
Can you make that a pull request?

Github will make one for you, just edit the file here: https://github.com/ros-perception/perception_pcl/edit/hydro-devel/pcl_ros/tools/bag_to_pcd.cpp

[2014-04-07 20:28] LucidOne commented on #46
Content preview:  On 04/07/2014 04:10 PM, William Woodall wrote: > > Can you
    make that a pull request? > > Github will make one for you, just edit the
    file here: > https://github.com/ros-perception/perception_pcl/edit/hydro-devel/pcl_ros/tools/bag_to_pcd.cpp

 Content analysis details:   (-2.9 points, 5.0 required)

  pts rule name              description

---

 -1.0 ALL_TRUSTED

[2014-04-08 13:14] DLu opened #48 "Indigo Release"
This is just a request for there to be an indigo release of pcl_ros, so that people can track the maintainer's progress.

[2014-04-09 17:23] LucidOne opened #49 "Boost.Signals is no longer being maintained and is now deprecated."
Building indigo with Ubuntu 14.04

[code]

[2014-04-09 17:24] paulbovbel commented on #49
This looks like an issue with TF rather than pcl_ros

https://github.com/ros/ros_comm/issues/267

[2014-04-09 17:30] paulbovbel commented on #48
Maintainter-ship was just handed over, so a release is imminent, thanks for your patience.

[2014-04-09 17:44] wjwwood commented on #49
This has been addressed in that issue/pull request for `roscpp`, but I think `tf` may still have references.

These warnings should go away in Indigo.

[2014-04-09 17:49] DLu commented on #48
Great! I knew things were in flux and just set this up to track the progress. Thanks for the support.

[2014-04-09 17:57] LucidOne commented on #48
It built with minimal issues and I am running some tests now.

[2014-04-09 18:28] LucidOne opened #50 "bag_to_pcd fails mysteriously with unindexed bags"
user@system:~$ rosrun pcl_ros bag_to_pcd input.bag ./velodyne_points ./pcd
Error opening file ./input.bag

user@system:~$ rosbag info input.bag
ERROR bag unindexed: input.bag.  Run rosbag reindex.

[2014-04-09 18:49] LucidOne commented on #48
I would like to see #47 applied indigo-devel before initial release

[2014-04-09 18:55] paulbovbel commented on #48
Put in https://github.com/ros-perception/perception_pcl/pull/47 and release when you're ready, then we can start going through the other issues/pulls at leisure.

[2014-04-09 19:02] #46 closed, assigned to nobody

[2014-04-09 19:29] LucidOne commented on #48
#47 tested and applied to hydro-devel
#47 and indigo-devel tested with velodyne data and pcd viewer
Updating package.xml files now

[2014-04-09 20:40] #49 closed, assigned to nobody

[2014-04-10 15:51] paulbovbel commented on #50
Could probably make the error message more specific by either catching BagUnindexedException first, or printing the contents of the error message.

[2014-04-11 12:18] LucidOne opened #54 "Improve usability of command line tools"
Need to add some options parsing to improve usability
Boost.Program_options or getopt?

[2014-04-11 12:26] LucidOne opened #55 "Ability to specify frame in bag_to_pcd"
command line option to specify TF frame

[2014-04-11 13:12] #48 closed, assigned to LucidOne

[2014-04-11 14:04] LucidOne commented on #44
@trainman419 did you open an issue on this against PCL?
Is PCL reasonably usable without these packages?

[2014-04-11 14:28] LucidOne commented on #35
Does `sudo apt-get update && sudo apt-get upgrade` fix this?
The include is being added automatically by pkg-config, so I think this is an issue with libpcl requiring openni-dev

[code]

[2014-04-11 14:59] LucidOne commented on #16
pull requests are welcome

[2014-04-11 15:03] paulbovbel commented on #55
Perhaps the standard behaviour could be changed to leave the frame as is, unless a target frame is specified? Seems like some people have trouble using bag_to_pcd if tf data is not recorded along with the pointcloud messages.

http://answers.ros.org/question/11978/how-to-find-the-frame-id-of-a-bag-file/

http://answers.ros.org/question/33072/bag_to_pcd-frame-id/

[2014-04-11 15:13] LucidOne commented on #55
I think we agree.
We would need some warning/deprecation notice but I would also change
default the frame to the same as the point cloud and skip the tf as the
standard behavior.

[2014-04-11 15:15] paulbovbel commented on #55
+1

A reasonable usage message would do the trick.

[2014-04-11 15:15] paulbovbel commented on #54
No preference. Never used before, so if you want to do one as an example, I can help implement on the rest.

[2014-04-11 15:20] LucidOne commented on #37
feel free to send a pull request

[2014-04-11 15:24] LucidOne commented on #37
See also #32

[2014-04-11 15:25] LucidOne commented on #14
@DeFrenZ  Is this still an issue?
I'm thinking of closing this as wontfix, as it _sounds_ like an issue with Clang.

[2014-04-11 17:07] davetcoleman commented on #35
Is this still an issue? I haven't run into it in a long time (but haven't been using those components). Otherwise I'd suggest we close this issue.

[2014-04-11 17:09] #35 closed, assigned to nobody

[2014-04-15 13:09] LucidOne commented on #14
Please reopen this if you have more information or a pull request.
Thanks

[2014-04-15 13:09] #14 closed, assigned to nobody

[2014-04-15 15:24] trainman419 commented on #44
I believe PCL is usable without this. I have not filed a bug upstream.

[2014-04-15 16:07] LucidOne commented on #44
If PCL is usable without these packages, I am OK with perception_pcl depending on these packages.

This will probably get fixed in the next release.

[2014-04-15 16:53] markpitchless commented on #37
I believe that the idea is to move point cloud pipeline type processing over to ecto. I'm sure I saw a comment/commit somewhere suggesting as much for these extra nodelets and they had been deactivated as being not widely used. But I can't find it anywhere now. Nodelets being bad for pipelines and ecto mentioned here: http://wiki.ros.org/fuerte/Planning/Perception%20Pipelines

[2014-04-15 17:02] markpitchless commented on #37
Aha [found it here](http://wiki.ros.org/pcl_ros/Tutorials/SACSegmentationFromNormals%20planar%20segmentation):

[code]

[2014-05-05 23:27] LiliMeng opened #57 "pcl_ros errors while installing rgbdslam hydro"
Hey,
    I just followed the procedure from this website: (http://felixendres.github.io/rgbdslam_v2/) to install rgbdslam, it goes well until the step 4: To build RGBDSLAMv2 go to your catkine workspace and execute "catkin_make".

After I execute "catkin_make", the following errors occurred:

[code]

Could anyone provide some suggestions? Thank you so much in advance!

Best,
Lili

[2014-05-05 23:52] LiliMeng commented on #57
It seems that similar problems have occurred before: https://github.com/ros-perception/perception_pcl/issues/35

[2014-05-06 00:06] LiliMeng commented on #35
I also solved the problem by @georgebrindeiro  's suggestion by  manually removing /usr/include/ni from /opt/ros/hydro/share/pcl_ros/cmake/pcl_rosConfig.cmake

[2014-05-06 00:06] LiliMeng commented on #57
I also solved the problem by @georgebrindeiro 's suggestion by manually removing /usr/include/ni from /opt/ros/hydro/share/pcl_ros/cmake/pcl_rosConfig.cmake

[2014-05-15 06:23] mikeferguson commented on #44
+1 to this getting fixed somewhere. If for some reason we aren't going to fix the dependencies, we should at least list this on the Indigo migration page, so people can easily figure out what to install to make their life in cmake not suck.

[2014-07-08 16:37] DLu commented on #44
+1

[2014-07-11 18:37] kphawkins commented on #35
@davetcoleman
Came across this bug today but removing `/usr/include/ni` solved my problem.  I had done a fresh install of ROS/PCL just a few weeks ago, so apparently we don't have a permanent fix yet?  I feel like this should be reopened until a patch is integrated.

[2014-07-11 18:57] paulbovbel commented on #35
@kphawkins, I'd be happy to dig in to the dependencies some time in the near future, but I'd need some more info.

What ubuntu/ros distros are you using? Was it a fresh install for both? Are you using the PCL PPA?

[2014-07-11 19:00] paulbovbel commented on #44
So the consensus is, there needs to be a build dependency on python-vtk and libvtk-java?

I will update the indigo branch sometime soon, if someone has this already setup on their machine, please feel free to submit a pull request.

[2014-07-11 19:01] #42 closed, assigned to nobody

[2014-07-11 19:04] kphawkins commented on #35
Precise/Hydro currently.  At one point I've had Fuerte/Groovy/Hydro all at once.  A few weeks back I was having issues, so I tried to uninstall just about everything ROS + OpenNI to fix a compilation issue whose details escape me at the moment.  I was using the PCL PPA:

[code]

[2014-07-11 19:07] paulbovbel commented on #35
I guess it's some sort of inconsistent state issue then. As @wjwwood mentioned, there doesn't seem to be a clear error in the dependencies that would fix this, though I'll see if I can replicate the issue later. Thanks.

[2014-08-22 15:49] iluetkeb commented on #37
Looks like this issue has been resolved in the meantime (see 271fccfbaa704b899abc4a455ce27a1ab63b6e8d), so we might close this ticket.

btw, while I'm at this, in response to markpitchless's comment, some people still like nodelets, so there's a valid use case here.

[2014-08-22 16:07] paulbovbel commented on #37
Agreed

[2014-08-22 16:07] #37 closed, assigned to nobody

[2014-08-22 16:46] jkammerl commented on #37
Yes, I think the idea was to move to ecto. But I am not sure if this ever happened.

[2014-08-25 11:53] iluetkeb commented on #37
btw, we might want to pull martimorta's patch into indigo-devel, too.

[2014-09-12 06:42] garaemon opened #61 "release hydro pcl_ros"
Could you release the latest hydro-devel branch of pcl_ros?

It includes a lot of nodelets.
https://github.com/ros-perception/perception_pcl/commit/def6bae2160854ff662b222ed9500c0c39e32071

[2014-09-13 19:59] #57 closed, assigned to nobody

[2014-09-14 16:44] paulbovbel commented on #61
Done!

[2014-09-14 16:44] #61 closed, assigned to nobody

[2014-09-17 13:54] martimorta commented on #61
Thanks, I was going to ask for the same.

I would like to know, is the releasing requested manually? In every ROS package?
Thanks in advance!

[2014-09-17 16:21] paulbovbel commented on #61
Package release is a manually-triggered process, but you don't really need to request it, I'm just a little out of touch with ROS duties due to thesising and work.

Even after I release, it takes a while to get synced from the shadow-fixed into the public debs (another manually-triggered process done by the osrf), so you won't see the changes in the public packages for a while.

[2014-09-20 21:06] #44 closed, assigned to nobody

[2014-09-27 04:21] garaemon opened #63 "PCDReader should not run main loop inside of onInit"
PCDReader run main loop inside of onInit method, and it hangs nodelet initialization sequence.

[2014-10-18 19:24] ruffsl commented on #55
+1

Would this be the place to swap in the parameter [here](https://github.com/ros-perception/perception_pcl/blob/572c11b1820de6d8cc67a724583233a4ac70ebf8/pcl_ros/tools/bag_to_pcd.cpp#L136)?

[2014-10-18 19:28] paulbovbel commented on #55
Looks like it, yes.

[2014-11-19 13:32] dani-carbonell opened #69 "Allow pcl/PassThrough nodelet to have filter limits outside the range [-1000, 1000]"
Restricting allowed values for filter_limit_min, filter_limit_max parameters to range [-1000,1000]
is still too low for the intenstity field for example. I am using a Hokuyo UTM-30lx and it's giving values up to 40000.0 so I am not able to filter the pointcloud properly.

[2014-11-19 18:32] paulbovbel commented on #69
I see no problem with raising them again, can you suggest some sane limits for your application, and please feel free to do a pull to expedite. Thanks!

[2014-11-20 10:44] dani-carbonell commented on #69
For my application a value of 50000 is enough but for other channels of a pointcloud could be still low. What should we do?

[2014-11-21 08:42] dani-carbonell commented on #69
I have done a pull request with the value 100000,00.
ee96100

[2014-11-21 19:36] paulbovbel commented on #69
Merged, thanks

[2014-11-21 19:36] #69 closed, assigned to nobody

[2015-01-17 01:09] cottsay opened #71 "pointcloud_to_laserscan 1.2.4 broken"
`pointcloud_to_laserscan` seems to have been broken by https://github.com/ros-perception/perception_pcl/commit/331cd9c3596ce241865b09cc7c20b9cbb5bb9318 [1] on Fedora.

I can't really figure out how it is working on Ubuntu but not Fedora. I'd be more than willing to test fixes, or even supply a Fedora machine for you to test on, but I'm at my wit's end trying to find a solution...

This is blocking

[2015-01-17 01:13] wjwwood commented on #71
@cottsay if you can give me ssh to a build slave-like machine, I'll give it a go.

[2015-01-17 05:43] wjwwood commented on #71
I can reproduce it on my mac laptop:

[code]

I believe this is the case because OS X and Fedora have the same default linker behavior, which is to error if symbols are undefined at linkedit time. I think this only makes sense, but Ubuntu and other Linux's tend to silently pass on missing symbols hoping they are found at runtime. I'm looking for a better solution.

[2015-01-18 16:18] paulbovbel commented on #71
Thanks for looking at this, is it something I'm linking incorrectly?

[2015-01-18 22:23] wjwwood commented on #71
I don't think so, I haven't yet figured out the issue, but I think it may be something wrong with how the tf2 headers are setup. I'm still looking into it, but no luck yet.

[2015-01-20 20:38] cottsay commented on #71
I still don't know what caused this, but (https://github.com/ros-perception/perception_pcl/commit/aef478e80911a7d540d41e171cac778d0fa28c85) removes references to `Point32` and avoids the problem altogether.

Builds look good now: http://csc.mcs.sdsmt.edu/jenkins/job/ros-indigo-pointcloud-to-laserscan_binaryrpm_21_x86_64/18/consoleFull

@wjwwood - unless you want to continue investigating why this

[2015-01-20 23:21] wjwwood commented on #71
Hmm, seems to work for me on `indigo-devel`, so I guess that's fine to close this (I'll let one of you do that when you're satisfied).

I was on a similar track, but I'm still not entirely sure why it was failing. Anyways I'm always glad to drop something off my plate.

[2015-01-21 03:46] paulbovbel commented on #71
I think it was my fault. doTransform and related aren't actually implemented for geometry_msgs::Point32.

[2015-01-21 03:46] #71 closed, assigned to nobody

[2015-01-31 17:22] paulbovbel opened #72 "Incorrect frame_id after transform"
See ROS answers: http://answers.ros.org/question/201609/why-is-pcl_rostransformpointcloud-changing-the-frame_id/

[2015-02-01 21:07] nrkumar93 opened #73 "pointcloud_to_laserscan package not working in ROS indigo"
The pointcloud_to_laserscan package is not working properly in ROS Indigo. The Indigo build is done recently and seems to contain some error. As required by the node I have published the pointcloud data from Kinect in PointCloud2 format in /cloud_in topic. But the laserscan data that must be produced and published by Kinect in /scan topic seems erroneous. It returns an array full of 'Inf'. Please

[2015-02-01 21:38] paulbovbel commented on #73
Take a look at topic remapping in https://github.com/ros-perception/perception_pcl/blob/indigo-devel/pointcloud_to_laserscan/launch/sample_node.launch, you do NOT need to be creating an intermediary pub/sub python node.

I've recently tested on my setup and everything was working fine. Try compiling from source, and looking at the DEBUG messages to see if/why points are getting filtered out. (PS u

[2015-02-03 22:18] paulbovbel commented on #72
Not actually a bug

[2015-02-03 22:18] #72 closed, assigned to nobody

[2015-02-06 23:37] nrkumar93 commented on #73
I tried all the methods u stated and failed continuously. When installed using apt-get I found the node 'pointcloud_to_laserscan' subscribing to /tf and /tf_static topic. I tried all the possible combinations for launch files (both simple_node and simple_nodelet) that suit my system. No combination seemed to work. But I didn't have any hope to work as it subscribed to /tf and /tf_static of 'tfMess

[2015-02-10 20:42] pbeeson opened #74 "StatisticalOutlierRemoval hangs on zeroed data"
I have a uniq PC sensor that can occasioanlly send a single PC that is large but all the values are 0.  Obviously, there is an issue in the hardware driver that needs fixing, but this also highlighted an issue in the StatisticalOutlierRemoval class, where a cloud of all zeroes (and presumably any cloud with all the same points) will hang forver and the program must be killed with SIGTERM as CTRL-C

[2015-02-10 20:43] pbeeson commented on #74
Sorry, I menat to file this issue with PCL.

[2015-02-10 20:43] #74 closed, assigned to nobody

[2015-02-18 13:32] paulbovbel commented on #73
So, I checked your bag file, and the node worked as expected. A scan was output, with all components Inf. Turning on debug logging for the node showed why (lots of nan/out of range points).

You're also using a python node to subscribe and publish the cloud points, instead of <remap/> tags in the launch file.

Please go through http://wiki.ros.org/ROS/Tutorials/UsingRqtconsoleRoslaunch.

[2015-02-18 13:32] #73 closed, assigned to nobody

[2015-02-24 10:32] JacoPisa commented on #35
i'm having the same problem, cannot catkin_make my catkinws, cause of that
Project 'pcl_ros' specifies '/usr/include/ni' as an include dir, which is
  not found.
but i cannot remove manualy the include, cause i don't have the permission, i saved with chmod the possibility to modify it, but when i save, it say me that:
Could not create a backup file while saving /opt/ros/hydro/share/pcl…cmake/pcl_r

[2015-03-14 19:57] mikeferguson opened #78 "Release into ROS Jade"
Please release this package into ROS Jade as it is a blocking dependency of the navigation stack.

[2015-03-14 20:14] paulbovbel commented on #78
Will do on Monday, thanks for the reminder

[2015-03-17 02:23] garaemon opened #79 "Timestamp is not maintained on hydro"
timestamp is not maintained if nodelets of pcl_ros are used because timestamp of pcl is in usec and timestamp of ROS is in nsec.

It means that we cannot use ExactTime policy of message_filters with pcl_ros nodelets.

[2015-03-17 19:38] #78 closed, assigned to paulbovbel

[2015-03-19 20:45] LucidOne opened #81 "pcd_to_pointcloud should support compression"
Need to add inverse of #76 to support reading compressed PCD files

[2015-03-19 22:03] LucidOne opened #82 "bag_to_pcd should support binary/compression"
Should be about the same as #76

[2015-03-21 03:49] rnunziata opened #83 "does not produce correct scans when using Gazebo kenetic"
does not produce correct scans when using Gazebo kinetic plugin.Missing intensities and leading data does not match normal laser output values for simulated laser plugin.

[2015-03-21 12:50] paulbovbel commented on #83
You'll have to be more specific. pointcloud_to_laserscan does not provide intensity data, not sure what you mean by 'leading data'. I'm open to proposals about what intensity data could represent.

[2015-03-21 17:51] rnunziata commented on #83
Was unaware that it does not produce intensities. I have no suggestions. The leading data issues have just been a wrong parameter setting on my part. Issue closed.

[2015-03-21 17:52] #83 closed, assigned to nobody

[2015-03-23 19:35] rnunziata opened #84 "This may or may not be an issue I am unable to find a solution"
I am running pointcloud_to_laserscan .
Reinstatement of issue: I am using the gazebo kinetic camera plugin. If I send the /depth/points to pointcloud_to_laserscan it does not seem to produce as usable scan output. So that gmapping complains that it is no mounted as planer ...

[2015-03-31 18:40] paulbovbel opened #86 "Nodelet definitions"
Looks like hydro-devel and indigo-devel nodelets.xml don't agree, should be reconciled.

http://answers.ros.org/question/206352/pcl_ros-nodelets-do-not-exist/

[2015-05-26 21:06] LucidOne commented on #32
Is this still an issue?
Do you have a way for me to reproduce this?

[2015-05-26 21:10] LucidOne opened #92 "perception_pcl needs tests"
- Need to generate test data (Velodyne, Kinect, etc)
- Need to determine where to upload test data
  - Separate repo? Name?  perception_data or perception_test?
  - https://github.com/blog/1986-announcing-git-large-file-storage-lfs
- Generate test cases to check that perception_pcl does not break

[2015-05-26 22:24] #86 closed, assigned to nobody

[2015-05-27 17:31] LucidOne commented on #84
Do you have a launch file? Error logs?
Have you tried running roslaunch with the --screen option?

[2015-05-27 17:34] LucidOne commented on #79
Please re-open if this was not fixed in #80

[2015-05-27 17:34] #79 closed, assigned to nobody

[2015-05-27 17:37] LucidOne commented on #63
Patches are appreciated.

[2015-05-27 17:44] LucidOne commented on #32
To clarify I have gotten this nodelet running on indigo, I'd like a bag file or something to test if possible.

[2015-05-27 21:07] LucidOne opened #95 "Need bloom releases for Jade, Indigo and maybe Hydro"
I think #87 was the last merge for Hydro

[2015-05-27 21:08] LucidOne commented on #95
It would be nice if #94 could be merged before the release

[2015-05-27 22:56] LucidOne commented on #95
It may also be worth bumping the version numbers for indigo/jade

[2015-05-28 10:12] mickeyxu commented on #32
oh...it was an issue about 2 years ago...
you can safely close it now:)

[2015-05-28 10:36] paulbovbel commented on #95
I think maybe a hydro release should be avoided since buildfarms are about to go down, and we don't want to introduce a regression

[2015-05-28 13:37] LucidOne commented on #95
Sounds like a plan

[2015-05-28 13:38] #32 closed, assigned to nobody

[2015-06-03 00:38] LucidOne opened #96 "libpcl build/run depends"
This looks wrong to me

[code]

https://github.com/ros-perception/perception_pcl/blob/indigo-devel/pcl_ros/package.xml#L32
https://github.com/ros-perception/perception_pcl/blob/indigo-devel/pcl_ros/package.xml#L49

[2015-06-30 13:35] superstage2015 opened #103 "Aborted (core dumped) when changing target_frame parameter"
Hi,
I am using pointcloud_to_laserscan node, but when I try to rosrun it, i got a Aborted (core dumped) just after starting the node.
The output his never the same, there some examples :

[ INFO] [1435670694.663510226]: Initializing nodelet with 8 worker threads.
**\* Error in `/opt/ros/indigo/lib/pointcloud_to_laserscan/pointcloud_to_laserscan_node': free(): invalid next size (normal): 0x00000000

[2015-07-17 03:33] mikepurvis opened #104 "OS X build issue"
Not sure what exactly is going on here, but this worked a few months ago and is broken now:

[code]

This is against PCL 1.7.1, from the deps tap: https://github.com/ros/homebrew-deps/blob/master/pcl.rb

@wjwwood, @nikolausdemmel, any idea what happened here?

[2015-07-17 03:58] wjwwood commented on #104
Based on your output that looks like PCL 1.8.

[2015-07-17 14:06] mikepurvis commented on #104
Hmm. Looks like ros/deps/pcl is 1.7.1, and homebrew/science/pcl is 1.7.2, but the version that's working on my main computer is HEAD from around March 2015.

Currently experimenting; may submit a PR to update homebrew-deps.

[2015-07-17 18:11] mikepurvis commented on #104
This fixes it: https://github.com/ros/homebrew-deps/pull/9

[2015-07-21 00:19] wjwwood commented on #104
Since you closed ros/homebrew-deps#9, I'm guessing this still isn't resolved?

[2015-07-21 01:59] mikepurvis commented on #104
Sorry, never updated here.

The issue resolves by using the PCL 1.7.2 from homebrew/science/pcl.

[2015-07-21 01:59] #104 closed, assigned to nobody

[2015-07-21 03:29] #95 closed, assigned to paulbovbel

[2015-07-23 17:14] tkruse opened #105 "jade-devel branch not used in distribution.yaml"
see https://github.com/ros-infrastructure/rosinstall_generator/issues/27

[2015-07-23 17:23] paulbovbel commented on #105
Fixed, thanks https://github.com/ros/rosdistro/pull/8973

[2015-07-23 17:23] #105 closed, assigned to nobody

[2015-07-30 06:10] rcodddow opened #106 "Eigen3 cmake module not found."
I am try to install Jade on OS X 10.10 Yosemite.

I am stuck trying to compile plc_ros because Eigen3 can be found

==> Processing catkin package: 'pcl_ros'
==> Building with env: '/Users/robert/ros_catkin_ws/install_isolated/env.sh'
==> cmake /Users/robert/ros_catkin_ws/src/perception_pcl/pcl_ros -DCATKIN_DEVEL_PREFIX=/Users/robert/ros_catkin_ws/devel_isolated/pcl_ros -DCMAKE_INSTALL_PREFIX=/User

[2015-08-03 15:06] paulbovbel commented on #103
Sorry for the delay. This is very strange, could you please provide a launch configuration/bag file to reproduce this?

[2015-08-03 15:17] paulbovbel commented on #106
So this seems like two separate issues. I'm not too familiar with OSX so bear with me. For your openni issue, take a look at https://github.com/ros-perception/perception_pcl/issues/104.

For the Eigen cmake issue, the FindEigen3.cmake module comes with cmake version 2.8 (at least). What version of cmake are you using?

[2015-08-03 18:11] wjwwood commented on #106
My CMake doesn't come with FindEigen3:

[code]

We did research on this at one point and I think it is Eigen which is distributing the FindEigen3.cmake file:

https://github.com/ros/cmake_modules/issues/25#issuecomment-63561647

Apparently there was an issue with Eigen's packaging in Homebrew, maybe the OP needs to update the version installed from Homebrew:

https://github.com/ros/cmake_modules/i

[2015-08-03 22:53] paulbovbel commented on #106
Thanks @wjwwood. I assumed that anything in my `/usr/share/cmake-2.8/Modules` was provided by cmake.

[2015-08-13 19:31] presocratics commented on #106
It seems this has been resolved, but I'll share how I got this working:
Elsewhere in the ros build workspace I found a copy of FindEigen3.cmake:

[code]

Then I removed the following from CMakeLists:

[code]

Replacing it with these lines from the orocos CMakeLists

[code]

To be perfectly honest, I didn't change config -> cfg when I did my build, but it seems to have worked.

[2015-08-26 10:57] bchretien commented on #106
:+1: `FindEigen3.cmake` is not shipped in Arch's `eigen` package either, however it does provide a pkg-config file which could also be used.

In the meantime, I [patched it](https://aur.archlinux.org/cgit/aur.git/diff/eigen3.patch?h=ros-jade-pcl-ros&id=f7816993efa9ca68137cde7e35f7c1b61635ca4a) that way:

[code]

[2015-09-27 23:23] Lome789 commented on #106
@presocratics could you please provide detail about how to remove and replace?

[2015-09-28 09:56] Lome789 commented on #106
i tried all the methods provided and it seems something went wrong...
==> Processing catkin package: 'pcl_ros'
==> Building with env: '/Users/Lome/ros_catkin_ws/install_isolated/env.sh'
Makefile exists, skipping explicit cmake invocation...
==> make cmake_check_build_system in '/Users/Lome/ros_catkin_ws/build_isolated/pcl_ros'
-- Boost version: 1.58.0
-- Found the following Boost libraries:
--   s

[2015-10-10 08:05] jmtatsch commented on #106
I guess this should resolve the issue:
ros-perception/perception_pcl/pull/108

[2016-02-10 14:59] timcloss commented on #106
@bchretien patch worked for me.

[2016-02-19 20:27] thebyohazard opened #115 "Timestamp precision loss when subscribing to PointCloud2 as PointCloud"
`PCLNodelet` has a `message_filters::Subscriber<PointCloud>` called `sub_input_filter_`. I don't know how, but if the actual topic is a `PointCloud2`, the nodelet can still subscribe to it and gets the message as a `PointCloud`.
This works fine for most things, but apparently the timstamp of the header for `PointCloud2` is more precise than the header for a `PointCloud`.
For example, the input clo

[2016-02-19 23:34] wjwwood commented on #115
The `pcl` functions take `pcl` versions of those structures, i.e. there is a difference between `pcl::PCLPointCloud` and ROS's `sensor_msgs::PointCloud`. One of the differences, as you noticed, is that they use a different time unit, see: https://github.com/ros-perception/pcl_conversions/blob/indigo-devel/include/pcl_conversions/pcl_conversions.h#L79-L89

I think the only solution is to propagate

[2016-03-04 21:11] slavaGanzin commented on #106
@bchretien Thanks!

[2016-03-17 02:08] wjwwood commented on #44
@paulbovbel this is going to be an issue on Ubuntu xenial and perhaps wily (I haven't checked though).

Currently our rosdep rule for `python-vtk` resolves to `python-vtk` in xenial, but the `libpcl-dev` package in xenial depends on `libvtk6-dev` (http://packages.ubuntu.com/xenial/libpcl-dev) which in turn depends on `python-vtk6` (http://packages.ubuntu.com/xenial/libvtk6-dev). This causes a loop

[2016-03-17 17:22] tfoote commented on #44
@wjwwood that will only solve it for this package. Any package that asks for python-vtk and libpcl-dev will run into this problem. We should probably consider changing to python-vtk6 to be compatible. What is the level of API change between plain and version 6?

[2016-03-17 21:05] wjwwood commented on #44
@tfoote based on this thread, the dependency was introduced here just because it was missing in the pcl binary, which no longer seems to be the case. So we could remove the dependency here, remove the wily and xenial entries for the key and recommend anyone else who tries to use to instead move to a new key called `python-vtk6` which can be created as needed.

[2016-03-17 22:53] tfoote commented on #44
I created a ticket to track this in an open state https://github.com/ros/rosdistro/issues/10752 lets move the discussion there.

[2016-03-31 13:12] sthoduka opened #116 "ProjectInliers receives outdated inputs"
Hi,
I'm using the SacSegmentation and ProjectInliers nodelets to find planes. There are times when we want to stop the plane finder for a while (for example by stopping the camera node) and restart it after say 10 seconds. When the camera is restarted, the first output from ProjectInliers has a timestamp corresponding to the pointclouds from the first point cloud inputs.

Here is a [sample launch

[2016-04-21 04:40] jgoppert opened #119 "get perception_pcl building on kinetic"
feature request:

I got pretty close, but ran into this error:

[code]

[2016-04-21 17:11] jackieokay commented on #119
+1, let's get the pcl pipeline released into Kinetic soon :)

I haven't looked much at the pcl internals before and I don't know much about the history of pcl_ros, but I grepped through the repo and couldn't find another reference to `pcl_ros_generate_messages_cpp`. It looks like a target name that `genmsg` would generate, which doesn't make much sense because `genmsg` isn't referenced directly in

[2016-04-21 17:51] jgoppert commented on #119
@jacquelinekay I removed that msg_gen reference and the warning went away, we still have the pcl link error though, I think it is because the cmake config below lists vtk libraries that are not installed on the system:

[code]

I'm attempting to build pcl from source now to figure out why we have the bad references.

[2016-04-21 17:52] jackieokay commented on #119
Yeah--I was just going to post about that. This seems related to the update to libvtk6 in Xenial. Can you check which libvtk you have installed using dpkg?

[2016-04-21 17:54] jgoppert commented on #119
[code]

[2016-04-21 17:55] jgoppert commented on #119
All of the other ros packages are built against vtk6. Maybe pcl was built against vtk5 by accident? Or maybe just a manual library link hack that needs to be updated.

[2016-04-21 17:58] jackieokay commented on #119
yeah, it appears to me that pcl has a dependency on vtk6. So this does seem like a problem with how pcl was released into Ubuntu.

http://packages.ubuntu.com/source/xenial/pcl
edit to include libpcl-dev package http://packages.ubuntu.com/xenial/libpcl-dev

[2016-04-21 18:46] jackieokay commented on #119
Interesting, I get a slightly different error message from you:

[code]

it appears that the path `/usr/lib/x86_64-linux-gnu/libproj.so` is hardcoded into `VTKTargets.cmake`, but the library is instead called `libproj.so.9` is installed when libvtk6 is installed.

I think your workspace and my workspace are resolving different branches of `PCLConfig.cmake`.

I am going to make some minimal example

[2016-04-21 18:57] jgoppert commented on #119
Weird, this is a fresh system started from the xenial beta2 iso. But after doing

[code]

I have a new cmake file that doesn't have the proj4 reference.

I already started bugging the maintainer here: https://bugs.launchpad.net/ubuntu/+source/pcl/+bug/1573174

Will close if I can manage to get it working with new files after doing a complete reinstall of pcl.

[2016-04-21 19:07] jackieokay commented on #119
yep. A workaround would be to add a dependency on libproj-dev in the package.xml. But really I think libvtk should fix their dependencies to include libproj-dev instead of libproj-9.

After I install libproj-dev I get the same error as you, even for a minimal Cmake example.

[2016-04-21 22:18] jgoppert commented on #119
Building pcl 1.8 from source works for me without modification, here is a deb created with checkinstall, unfortunately cpack -G DEB gave an error:
https://drive.google.com/open?id=0B3wIEs1gcVahbUJ5aFE3Zmo1YjQ

So is it possible that this is just pcl 1.7 and vtk6 related?

[2016-04-21 22:22] jackieokay commented on #119
that's good to know that pcl 1.8 works from source.

The pcl maintainer said that an upstream fix is needed in vtk, apparently it's been fixed but the new version isn't in Ubuntu yet.

https://bugs.launchpad.net/ubuntu/+source/vtk6/+bug/1573234

I've been playing around with a hack to take vtkproj4 out of the link dependencies in the pcl_ros CMakeLists but I haven't gotten it working.

[2016-04-21 22:31] jgoppert commented on #119
@jacquelinekay Try this PR: https://github.com/ros-perception/perception_pcl/pull/120

[2016-04-21 22:36] jackieokay commented on #119
nice. I just opened the last approach I was talking about (#121) which makes the source build work with the libpcl1.7 deb but is also quite a hack. I guess it's up to the maintainers to decide which approach to take. I don't really care which one, as long as we get this repo into Kinetic soon. cheers!

[2016-04-21 22:38] jgoppert commented on #119
@jacquelinekay Thanks for the help today. I will try your PR, obviously much better than building pcl from source. Glad we got it working! :-)

[2016-04-21 23:05] jackieokay commented on #119
I'm getting a link error in `bag_to_pcd` now:

[code]

[2016-04-22 14:53] paulbovbel commented on #44
@wjwwood thanks, removing python-vtk for kinetic-devel

[2016-04-22 15:38] paulbovbel commented on #119
Thanks for the fix @jacquelinekay, I've tested and get a clean build with your PR

I'll have to get caught up on the issue with the vtk version change and try to figure out a long-term solution

[2016-05-03 20:53] jolting commented on #119
The bug is already fixed in Yakkety. We just need it in Xenial. Everyone click that link that says this bug affects you.

https://bugs.launchpad.net/ubuntu/+source/vtk6/+bug/1573234

[2016-05-05 21:03] jokla opened #125 "Symbol lookup error / undefined symbol"
Hi,

I tried to launch the "[ConvexHull planar surface reconstruction](http://wiki.ros.org/pcl_ros/Tutorials/ConvexHull%20planar%20surface%20reconstruction)" example in the tutorial but I get this error:

 `/opt/ros/indigo/lib/nodelet/nodelet: symbol lookup error: /opt/ros/indigo/lib//libpcl_ros_features.so: undefined symbol: _ZN3pcl6search6KdTreeINS_8PointXYZEEC1Eb`

It is related to `pcl::search

[2016-05-06 07:48] tfoote commented on #119
Although this now builds it's still propogating to downstream packages ala: https://github.com/ros-planning/navigation/issues/456 It would be great to either add the dependency until the ubuntu ticket is closed or find a way to remove the linking requirement for downstream packages.

[2016-05-17 17:26] jackieokay commented on #119
As mentioned by Tully in a few other issues, he successfully set up a build of vtk with a fix for the missing vtkproj issue. @paulbovbel feel free to revert my PR as it shouldn't be needed anymore.

[2016-05-30 13:29] k-okada commented on #115
Hi, only solution we found is to use `sensor_msg/PointCloud2` at
https://github.com/ros-perception/perception_pcl/blob/kinetic-devel/pcl_ros/include/pcl_ros/features/feature.h#L130

[code]

as we had in  https://github.com/ros-perception/perception_pcl/blob/kinetic-devel/pcl_ros/include/pcl_ros/filters/filter.h#L126

[code]

and copy nano second timestamp at https://github.com/ros-perception/perce

[2016-08-02 16:28] flixr commented on #119
Any info on getting perception_pcl for xenial/kinetic on armhf?

[2016-08-04 16:19] jolting commented on #119
@flixr A while back, I was having a problem with building the pcl library on armhf when I backported some fixes to xenial. I'm not sure if that's still an issue. It looked like some missing OpenGL includes.
I'm not sure if it's been fixed and packaged, but if PCL won't build then perception_pcl won't either.

References:
https://launchpad.net/~jolting/+archive/ubuntu/backport/+packages
https://lau

[2016-08-10 02:14] tfoote commented on #119
We're blocked on libpcl-dev being missing. This ticket is tracking that: https://github.com/ros/rosdistro/issues/11583

I haven't had a chance to try building pcl in my ppa as suggested by @jspricke. I was hoping that vtk upstream might have been fixed and enabled the upstream libpcl-dev build: https://bugs.launchpad.net/ubuntu/+source/vtk6/+bug/1573234

[2016-09-16 09:40] sradmard opened #128 "pointcloud_to_laserscan returns inf in ROS indigo."
Hi,
I am using ROS indigo under UBUNTU 14.04. I am also simulating a turtlebot equipped with kinect camera in v-rep and would like to run gmapping through ROS. Since gmapping requires laserscan data, and I can only publish pointcloud data to ROS from v-rep, I need to use pointcloud_to_laserscan package. However I haven't been successful so far, and this is what I've done so far:
I can publish the

[2016-11-10 19:20] sradmard commented on #128
I found the solution to the problem and wanted to share. There is no problem with the pointcloud_to_laserscan package, it was the way that I was publishing my PointCloud2 data.
The source of the problem was using v-rep simulation environment to publish point cloud data. I used the publisher “simros_strmcmd_get_depth_sensor_data” in v-rep to publish PointCloud2 data to ROS. The current version of v

[2016-11-12 00:00] paulbovbel commented on #128
Thanks

[2016-11-12 00:00] #128 closed, assigned to nobody

[2017-01-12 13:23] fgimenezm commented on #106
Compiling ROS in a Raspberry pi 3 I was able to workaround the Eigen3 error by adding "-DCMAKE_MODULE_PATH=/usr/share/cmake-3.0/Modules" to the catkin_make_isolated command.
It's still running but hopefully that won't cause any other errors.

[2017-01-31 03:47] howiechiang commented on #106
elpetak, What line do you insert "-DCMAKE_MODULE_PATH=/usr/share/cmake-3.0/Modules" o your raspberry pi 3??

[2017-02-05 17:24] GreatAlexander commented on #106
@elpetak Thanks, that solved it for me ;)
@howiechiang He meant when you are compiling the code in your workspace, so section 3.3 if you followed the instructions in http://wiki.ros.org/ROSberryPi/Installing%20ROS%20Indigo%20on%20Raspberry%20Pi
For example, the command I use with elpetak's edit is:
`sudo ./src/catkin/bin/catkin_make_isolated --install -DCMAKE_BUILD_TYPE=Release -DCMAKE_MODULE_PATH

[2017-02-16 10:17] soswow commented on #106
I propose update documentation on http://wiki.ros.org/ROSberryPi/Installing%20ROS%20Kinetic%20on%20the%20Raspberry%20Pi

[2017-03-06 15:26] AustinDeric commented on #81
I agree with this and i would like to see more options than just the string to the filename.  For example, i would like this function to take a file object or an http url.

[2017-03-29 10:44] dbolkensteyn opened #129 "Captured .pcd files do not contain the same data as original pointcloud"
I'm probably doing something wrong, but I can't figure out what it is.

I am using an Intel RealSense R200 to capture a pointcloud. It publishes RGBD data on the topic `/camera/depth_registered/points`. Using `rosbag record -l 1 /camera/depth_registered/points` and `rosbag play original.bag` I can replay the captured pointcloud back even after the camera is disconnected. The replayed data is the s

[2017-04-07 22:52] mikaelarguedas opened #130 "Lunar Release"
Hi @paulbovbel and `perception_pcl` maintainers!

As mentioned in ros-perception/pcl_msgs#7, it would be great to have this repo released into Lunar asap to unblock the release of the navigation stack and all downstream packages. Please run bloom release on the current 1.4.1 version to release it into Lunar.

Thanks!

[2017-04-10 15:09] wkentaro opened #131 "Syntax error in pcl_nodelets.xml"
It is malformed, though it works because of a lazy parsing of nodelet xml parser. It has multiple `<library>` root.
[code]

This causes error in xml parser, and makes it difficult to find declared nodelets:
[code]

[2017-04-10 20:46] #131 closed, assigned to nobody

[2017-04-11 04:56] paulbovbel commented on #130
Looks like PCL 1.8 in yakkety/zesty has split into multiple packages (http://packages.ubuntu.com/search?keywords=libpcl), where there is no longer a single debian like `libpcl1.7`.

Will have to investigate how CMakeLists and rosdep dependencies will change in lunar, given that we can no longer just `find_package(PCL 1.7 REQUIRED)`.

[2017-04-11 15:19] mikaelarguedas commented on #130
hmm that's unconvenient. Thanks for looking into this!
If it's of any help, the `ros_buildfarm` prerelease jobs can help you test this on the new platforms (setting up containers and building the code). More info about running prerelease for repositories not part of the rosdistro index can be found [here](https://github.com/ros-infrastructure/ros_buildfarm/blob/master/doc/jobs/prerelease_jobs.rst#

[2017-04-13 21:27] wkentaro commented on #130
I'm not sure, but `libpcl-dev` not work? Adding it to after [this line](https://github.com/ros/rosdistro/blob/master/rosdep/base.yaml#L2196)?

And should we release pcl_conversions first, right?

[2017-04-13 21:49] mikaelarguedas commented on #130
I think that @paulbovbel is referring to how to find the package via CMake code and not the global rosdep key. The package `libpcl-dev` contains the package libpcl1.7 [on xenial](http://packages.ubuntu.com/xenial/libpcl-dev) so you can `find_package(PCL 1.7 REQUIRED)`.
But in [yakkety and later](http://packages.ubuntu.com/yakkety/libpcl-dev) there is no package libpcl1.8 but multiple libpclFEATURE

[2017-04-13 22:22] wkentaro commented on #130
I see.

BTW, are there any tools to test this kind of thing (I mean prepare releases)? Do you use docker + rosdep + wstool + rosinstall_generator + catkin-tools?

[2017-04-13 23:12] wkentaro commented on #130
I tested on docker

**Xenial**

- OK

**Yakkety**

- Build passed with
  - https://github.com/ros/rosdistro/pull/14524

- Remaining Error: rosdep Key error

[code]

**Zesty**

- Build passed with
  - https://github.com/ros/rosdistro/pull/14524
  - https://github.com/ros-perception/perception_pcl/pull/133

- Remaining Error: rosdep Key error: same as that on yakkety

[2017-04-14 02:36] mikaelarguedas commented on #130
@wkentaro it looks like you figured out ways to test it. I'm answering here anyway because that can be useful for future releases. Usually I test things using the prerelease scripts provided by `python3-ros-buildfarm`.
If your package has a source entry on rosdistro you can use [prerelease.ros.org](http://prerelease.ros.org/)
Otherwise you can use the prerelease scripts on custom repositories (not

[2017-04-15 11:35] wkentaro commented on #130
Oh, this should be what I was looking for. Thanks!

[2017-04-25 14:23] paulbovbel commented on #130
Please branch lunar-devel, and remove pointcloud_to_laserscan from it before blooming. That package has been here (https://github.com/ros-perception/pointcloud_to_laserscan) for some time.

[2017-04-25 14:30] paulbovbel commented on #130
Also don't forget to add yourself as a maintainer to all the packages :) otherwise you won't get buildfarm emails or open source karma

[2017-04-26 14:13] wkentaro commented on #130
Sent PR to ros/rosdistro: https://github.com/ros/rosdistro/pull/14672

[2017-04-26 19:17] mikaelarguedas commented on #130
The initial builds were failing because of a wrong rosdep key (https://github.com/ros/rosdistro/pull/14676)
Now that https://github.com/ros/rosdistro/pull/14676 has been merged, can you please rerun bloom to trigger packages with the right key?
Thanks!

[2017-04-26 19:42] wkentaro commented on #130
https://github.com/ros/rosdistro/pull/14677

[2017-04-26 22:04] mikaelarguedas commented on #130
Looks like all jobs turned green, I'm going to close this. Thanks @wkentaro for the release!

[2017-04-26 22:04] #130 closed, assigned to nobody

[2017-04-26 22:56] paulbovbel commented on #130
Thanks @wkentaro!

[2017-04-27 01:14] mikaelarguedas opened #139 "[pcl_ros] Qt5::Widgets not found on Debian stretch"
pcl_ros binary jobs fail at linktime: `/usr/bin/ld: cannot find -lQt5::Widgets`
Job link: http://build.ros.org/view/Lbin_ds_dS64/job/Lbin_ds_dS64__pcl_ros__debian_stretch_amd64__binary/2/console
timestamp:"13:17:33"

[2017-04-27 09:31] wkentaro commented on #139
I've tried to fix this, but still not sure how to install Qt5::Widget library.

[2017-04-27 14:35] paulbovbel commented on #139
maybe https://packages.debian.org/search?keywords=libqt5widgets5?

the real question is why that fails only for debian stretch....

[2017-04-28 02:22] wkentaro commented on #139
libqt5widgets5 is installed, but it still fails

[code]

[2017-04-28 14:35] paulbovbel commented on #139
Check out https://github.com/googlecartographer/cartographer_ros/issues/119

[2017-04-29 19:47] wkentaro commented on #139
Actually it still fails.
http://build.ros.org/view/Lbin_ds_dS64/job/Lbin_ds_dS64__pcl_ros__debian_stretch_amd64__binary/8/console

[2017-05-02 20:50] AndyZe commented on #129
Random comment, but recording depth_registered/points is probably not the most efficient way.
http://wiki.ros.org/openni_launch/Tutorials/BagRecordingPlayback

[2017-05-10 16:32] wkentaro commented on #139
Fixed via https://github.com/ros-perception/perception_pcl/pull/141

[2017-05-10 16:32] #139 closed, assigned to nobody

[2017-06-12 19:25] Achllle commented on #106
The wiki hasn't been updated yet as @soswow stated. It took us a full day of frustration to find this easy working fix by @elpetak and @GreatAlexander.

[2017-06-16 12:00] DxsGeorge opened #148 "CMake error boost not found"
[code]

[2017-06-23 14:58] ojura commented on #119
Hey guys, a related issue is causing build problems on Zesty. `VTK_LIBRARIES` redundantly specifies `libmpi.so`, and this breaks linking anything with libpcl. I tried reaching out at various places, including at the PCL site, but haven't received a response. Here's the bug report at Launchpad:

https://bugs.launchpad.net/ubuntu/+source/pcl/+bug/1694397

[2017-06-23 16:42] jolting commented on #119
I think this bug was reported a while ago.
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=848793
However, I don't think it's fixed.

If you want a quick workaround use install `libmpich-dev`. I wouldn't recommend this as a permanent solution.

[2017-06-23 20:40] ojura commented on #119
The way I fixed this is by copying this repository's mitigation:
https://github.com/ros-perception/perception_pcl/blob/b53b5d5c3abc7c3afde8a77177674e6d74c59522/pcl_ros/CMakeLists.txt#L12

[2017-06-28 00:34] ndwong commented on #119
Hello, I've been trying to fix this problem as well. In my case, I'm building it for Kinetic on Ubuntu 16 running off an nVidia Jetson TX2 (arm64).

I can't install pcl_ros off the repo due to VTK problems,  and compiling from source led me here.
Tried permutations of removing  "vtkproj4" and "/usr/lib/libmpi.so" from the cmake, to no avail.

Anyone know of something else that I can try?

[2017-06-28 09:22] ojura commented on #119
Do you have a missing target error (which is raised by make), or a linking error? The original issue was for a linking error. I kind of hijacked it with my comment, as it is not the completely same bug, although it's related.

[2017-07-10 16:17] #148 closed, assigned to nobody

[2017-07-12 02:46] ljmljz opened #149 "pcl_ros include path does not found on macOS"
I was successfully build the pcl_ros package on macOS. but when other package tried to look for the pcl_ros include path. it returns error. In the pcl_rosConfig.cmake file:
`set(_include_dirs "include;/usr/local/include;/usr/local/include/pcl-1.8;/usr/local/Cellar/eigen/3.3.4/include/eigen3;/usr/local/Cellar/openni/1.5.7.10/include/ni;/usr/local/include/ni2;/usr/local/Cellar/vtk/8.0.0/include/vtk-

[2017-07-14 14:08] manuelli opened #150 "bag_to_pcd ignores the <topic_name> option"
Specifying the <topic_name> option has no effect. It seems to just grab all the messages of type PointCloud2. There are only 4 messages in my log. If I invent a channel name `/foo` which doesn't exist in my log then it still grabs the four messages. Is there a bug in ignoring the topic name that was specified?

Got 780383 data points in frame tote_unpack with the following fields: x y z
Data saved

[2017-07-16 21:36] unghee commented on #57
For future reference, installing openni version 1.5.4. from source solved the problem.

[2017-07-23 17:13] rconnorlawson opened #152 "PointCloud2 should have compressed transport option"
Similar to [image_transport](http://wiki.ros.org/image_transport) and [compressed_image_transport](http://wiki.ros.org/compressed_image_transport), there should be support for compressed transmission of pointclouds in ROS. PCL has built-in support for real-time compression of pointcloud streams ([paper](http://ieeexplore.ieee.org/document/6224647/), [tutorial](http://pointclouds.org/documentation/

[2017-09-14 08:28] mjuels opened #164 "NaN removal from RadiusOutlierRemoval"
Using the ```RadiusOutlierRemoval``` nodelet I get the assertion error:

[code]

As far as I can tell, this is due to NaN points in the cloud.
I have made a dummy node performing essentially the same operation, where the assertion can be removed using
[code]
prior to filtering.

Is there a deliberate point to not include nan-filtering in the nodelet?

[2017-10-23 20:58] mattforestyoung commented on #106
Just to add to this for anyone reading later, normally `FindEigen3.cmake` is provided in the `usr/share/cmake-X.Y/Modules` filepath. This problem seems to occur because `FindEigen3.cmake` is included in the version 2.X builds of CMake, but not the version 3.X builds. So if you're using version 3.X of cmake, this file won't exist and CMake will fail with that error message above.

If you have both

[2017-11-15 16:19] wkentaro opened #166 "Build fail on yakkety"
https://travis-ci.org/ros-perception/perception_pcl/jobs/283075014
[code]

[2017-11-15 16:37] wkentaro commented on #166
@mikaelarguedas Could you please help me a little to solve this?
I'm testing on `yakkety` with docker. And found that there is apt key, so I can do `apt-get install ros-lunar-cmake-modules` but the apt key can not be resolved by rosdep.
Maybe `yakkety` is removed from release targets of lunar? https://github.com/ros/rosdistro/blob/master/lunar/distribution.yaml#L11-L12

[code]

[2017-11-15 16:40] paulbovbel commented on #166
That's definitely the case, yakkety went EOL in July - guess we should remove it from the travis tests?

[2017-11-15 17:13] mikaelarguedas commented on #166
Yes yakkety was removed from the lunar targets in August (https://discourse.ros.org/t/suspension-of-debian-packaging-for-eol-ubuntu-yakkety/2444). We will keep hosting the deb packages but will not be running any jobs for it anymore and tools like bloom and rosdep are not aware of it anymore as it was removed from the distibution file (https://github.com/ros/rosdistro/pull/15898/files).

[2017-11-15 17:17] wkentaro commented on #166
Thanks! BTW, where can I find that kind of information? I could not find that information at roswiki: http://wiki.ros.org/Distributions.

[2017-11-15 17:27] mikaelarguedas commented on #166
Our current policy is that we stop iterating/buiding packages for Ubuntu distributions right after they become EOL. As we keep hosting the binaries, the distributions are still "available" (you can download and install the last packages built before dropping support), we dont remove them from the wiki.
Every time we will stop building for a given ROS Distribution or OS we send an announcement on D

[2017-11-15 17:55] wkentaro commented on #166
I see. Thanks! I will try to keep checking discourse next time.

[2017-11-15 17:56] #166 closed, assigned to wkentaro

[2017-11-15 20:26] mikaelarguedas opened #168 "Build fails on Debian jessie"
@wkentaro FYI

Since the last release of ros_comm and class_loader in kinetic, pcl_ros fails to build on Debian Jessie (http://build.ros.org/view/Kbin_dj_dJ64/job/Kbin_dj_dJ64__pcl_ros__debian_jessie_amd64__binary/43/).

I started investigating in https://github.com/ros/ros_comm/pull/1235 but didn't have time to investigate and find the proper fix

[2017-11-17 06:04] mikaelarguedas commented on #168
looks like the new release of ros_comm and class_loader fixed it so I'll close this
http://build.ros.org/job/Kbin_dj_dJ64__pcl_ros__debian_jessie_amd64__binary/45/

[2017-11-17 06:04] #168 closed, assigned to nobody

[2017-11-21 07:14] MadCauchy commented on #106
@msy22 Thanks a lot! I have the same issue. And your method works!  In my case the command should be

$ sudo cp /usr/share/cmake-2.8/Modules/FindEigen3.cmake /usr/local/share/cmake-3.2/Modules/

because the cmake-3.2 is under the folder /usr/local/share/ in my ubuntu 14.04.

[2018-01-03 18:22] wsascha opened #169 "Rotate normals if in PointCloud2 message"
## Problem
Maybe I missed something but currently normals are not rotated  if they are in a PointCloud2 message.

## Proposed solution
I suggest to add a check for normal components `normal_x`, `normal_y` & `normal_z` [somewhere here](https://github.com/ros-perception/perception_pcl/blob/lunar-devel/pcl_ros/src/transforms.cpp#L127) and if available, rotate the normal points.

[2018-01-13 05:16] furushchev opened #170 "Release 1.2.8 to indigo: Release the latest version on indigo?"
Since the latest version of `pcl_ros` package is now `1.5.3` and many fixes and improvements are included, it's time to port this into `indigo` and other distro.
(Note that the version of this package on indigo is still `1.2.7` )

[2018-01-24 03:06] DinnerHowe opened #171 "Do not support tf2"
hi, there:
     I read transform.cpp and transform.h, and I found a issue that it do not support tf2. All tranformlisteners are only work under tf.

[2018-02-28 13:21] phlmm opened #172 "ros-kinetic-pcl-ros cross-compilation fails due to freetype2 header missing"
Please excuse my ignorance on reporting issues in GitHub. This is my first time.

I received the following error why trying to crosscompile my application on and amd64 Ubuntu xenial for aarch64 (arm64) platform:

  Project 'pcl_ros' specifies '/usr/include/aarch64-linux-gnu/freetype2' as
  an include dir, which is not found.  It does neither exist as an absolute
  directory nor in
  '/opt/ros/kine

[2018-03-04 12:43] johaq opened #173 "Unnecessary dependency on genmsg"
pcl_ros unnecessarily depends on genmsg. My local version builds without it.
Is the dep there for a reason I am missing? If not I can make a pull request.

[2018-03-28 19:19] Russ76 opened #174 "Unable to compile with Kinetic on Arm64"
On a Jetson TX1 with Xenial and Kinetic, compiler sticks at 26%. The first time I did a hard "turn off." That's why some was finished in the output below.

The second time, after 10 minutes stuck, it threw this error:

nvidia@tegra-ubuntu:~/perception_ws$ catkin_make
Base path: /home/nvidia/perception_ws
Source space: /home/nvidia/perception_ws/src
Build space: /home/nvidia/perception_ws/build
Dev

[2018-03-29 02:15] k-okada commented on #174
did you try `catkin_make -j1 -l1` ?

--
◉ Kei Okada

2018-03-29 4:19 GMT+09:00 Russ Hall <notifications@github.com>:

[2018-03-29 20:23] Russ76 commented on #174
Excellent! It was slow but it worked. Where is the reference sheet to learn these commands?

[2018-03-30 00:13] k-okada commented on #174
`catkin_make --help` will tell you more about  command options.
[code]

[2018-03-31 07:02] wkentaro commented on #170
If you would like the use the latest commits in `lunar-devel`, first you need to cherry-pick commits from `lunar-devel` to `indigo-devel`.
https://github.com/ros-perception/perception_pcl/commits/indigo-devel

[2018-03-31 07:03] wkentaro commented on #170
FYI, `1.2` of `1.2.7` means it is for `indigo`
1.2: indigo
1.3: jade
1.4: kinetic
1.5: lunar
so 1.5.3 is only for `lunar`.

[2018-03-31 07:07] furushchev commented on #170
@wkentaro Thanks for clear explanation.
I see. Is there still any chance to port only bugfixes?

Nodelet declaration in `pcl_ros` is currently malformed and many nodes does not work on indigo.
https://github.com/ros-perception/perception_pcl/blob/1.2.7/pcl_ros/pcl_nodelets.xml

[2018-03-31 07:09] wkentaro commented on #170
I think any changes that have the backcompatibility can be backported.

[2018-03-31 07:14] wkentaro opened #176 "Release 1.5.4 to lunar"
- [x] Test nodelets
- [x] Release

[2018-03-31 09:13] furushchev commented on #170
It will be nice if these are ported into older distros:
https://github.com/ros-perception/perception_pcl/pull/134
https://github.com/ros-perception/perception_pcl/pull/165
https://github.com/ros-perception/perception_pcl/pull/153
https://github.com/ros-perception/perception_pcl/pull/160
https://github.com/ros-perception/perception_pcl/pull/147

(I may overlook other necessary pull requests)

[2018-03-31 09:47] wkentaro opened #179 "Release 1.4.2 to kinetic"
- [x] Backport
- [x] Release

[2018-03-31 10:05] wkentaro commented on #170
Sorry, I found backporting all of them is a bit difficult (because they are not backported even for jade).
So I ended up backporting the few commits here: https://github.com/ros-perception/perception_pcl/pull/180
Could you check it?

[2018-03-31 10:06] wkentaro commented on #170
Kinetic will have almost all changes that are included in lunar: https://github.com/ros-perception/perception_pcl/pull/178

[2018-03-31 10:14] furushchev commented on #170
I leave a comment here since I don't have the right to review your pull request.
Basically looks good to me, it would be better if we got test codes backported so to check if future changes on these distros break the functionality.
Anyway, thank you very much!

[2018-04-02 17:20] #176 closed, assigned to wkentaro

[2018-04-02 17:33] wkentaro commented on #176
https://github.com/ros/rosdistro/pull/17322

[2018-04-03 23:19] wkentaro commented on #170
Released https://github.com/ros/rosdistro/pull/17337

[2018-04-03 23:19] #170 closed, assigned to wkentaro

[2018-04-03 23:20] wkentaro commented on #179
Released https://github.com/ros/rosdistro/pull/17323

[2018-04-03 23:20] #179 closed, assigned to wkentaro

[2018-04-08 08:01] k-okada commented on #179
This cause regression on downstream packages (http://build.ros.org/view/Kbin_uX64/job/Kbin_uxv8_uXv8__pcl_ros__ubuntu_xenial_arm64__binary/) due to missing `libpcl_visualizatoin` in `pcl_ros_LIBRARIES`
see https://github.com/jsk-ros-pkg/jsk_recognition/pull/2261#issue-180145927 for detail

[2018-04-08 09:16] wkentaro commented on #179
Do you mean `libpcl_visualization` should be included in `pcl_ros_LIBRARIES`?
IMO, it should be explicitly declared in the `CMakeLists.txt` of jsk_recognition packages.

[2018-04-08 09:20] k-okada commented on #179
yes, because that is included in pcl_ros_LIBRARIES until 1.4.1

--
◉ Kei Okada

2018-04-08 18:16 GMT+09:00 Kentaro Wada <notifications@github.com>:

[2018-04-08 09:41] wkentaro commented on #179
Do you have any rule declaration for this? ie. REP
I think it was included because of the laziness of the programmer who added that line.

In python community, this kind of implicit dependency is not recommended (just I think, and actually I couldn't find PEP for this),
because people prefer *explicit* rather than *implicit*.
ex. `boto3`: python client for aws console management: `botocore` is dec

[2018-04-08 09:42] wkentaro commented on #179
@paulbovbel @mikeferguson Do you have some information or opinion for this?

[2018-04-08 11:43] k-okada commented on #179
from ROS programmer's point of view, will should depend on ros_pcl not PCL, just like you depend on cv_bridge not OpenCV version itself (http://wiki.ros.org/indigo/Migration#OpenCV).
Since ROS package supports multiple platforms/distributions so that sometimes directly depends on system library will cause trouble and pcl_ros/cv_bridge will gives you interface between ROS package and system library

[2018-04-08 11:54] wkentaro commented on #179
I know the case of `cv_bridge` for `OpenCV` but didn't know the that of `pcl_ros`. (also it is only for rosdep key, right?)
I think `cv_bridge` promised that in the migration wiki page for indigo, but can't find any declaration for `pcl_ros`.

[2018-04-08 11:55] wkentaro commented on #179
It seems `cv_bridge` also does not provide all OpenCV libraries for Kinetic:
https://github.com/ros-perception/vision_opencv/blob/9d49971aa9b32a662a91d9240d8a8b46dc60ca90/cv_bridge/CMakeLists.txt#L16-L22

[2018-04-08 13:07] paulbovbel commented on #179
I would agree with @wkentaro - pcl_ros should link against what it uses internally. IMO it's not this packages job to inject all of PCL into catkin_LIBRARIES, amd at the very least we want to avoid introducing Gui depends dependencies into a package that's often used on headless machines.

I believe it is this package's job to provide documentation to ROS users how to integrate with PCL, so we sho

[2018-04-08 13:08] paulbovbel commented on #179
However, a backport should not break dependencies, especially in an LTS release. Would you mind trimming this backport, and then we can focus on improving this story for lunar/melodic?

[2018-04-08 13:19] wkentaro commented on #179
Yeah, thanks for the comment.
I will keep the old behavior about provided libraries for Kinetic: https://github.com/ros-perception/perception_pcl/pull/185.

[2018-04-08 13:29] wkentaro commented on #179
I released 1.4.3: https://github.com/ros/rosdistro/pull/17382 with the fix
for this issue.

On Sun, Apr 8, 2018 at 10:08 PM, Paul Bovbel <notifications@github.com>
wrote:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2018-04-08 15:43] k-okada commented on #179
thanks for quick release.

Year between 1.12.4 and 1.12.5....without any pull request.....

Depending on internal use and do not want to GUI library makes sense, And recent cmake prefer to have explicit dependency, but at the same time I still prefer the way `catkin` helped lazy people so far.

For example, If you want to link exact components, `pcl_ros` can use something like `PCL_IO_LIBRARIES` a

[2018-04-08 17:19] paulbovbel commented on #179
Sorry, you're right, catkin_LIBRARIES was the wrong construct to reference.

[2018-04-24 08:58] PPokorski opened #186 "Wiki shows wrong time assignment"
Hi!
I stumbled across an error at [the wiki page](http://wiki.ros.org/pcl_ros#CA-bcc883441139b09a09cf15205453910ae46b3635_21). At the given line the time is taken as `ros::Time::now::toNSec()` , whereas PCL treats the stamp as microseconds, which is even noted [here](https://github.com/ros-perception/pcl_conversions/blob/indigo-devel/include/pcl_conversions/pcl_conversions.h#L79-L89). I ask for up

[2018-04-24 19:30] wkentaro commented on #186
This is the different time treatment between ROS and PCL,
and the instruction in the Wiki page is not wrong, I think.

I am sure that this difference causes some synchronization problems like https://github.com/ros-perception/perception_pcl/issues/115, but this does not mean we should use microseconds in ROS.

[2018-04-24 19:32] #174 closed, assigned to nobody

[2018-04-24 19:34] wkentaro commented on #173
I think you're right. I will fix it.

[2018-04-24 19:41] PPokorski commented on #186
Actually if it didn't cause a problem for me, I wouldn't add this issue. Let's consider an example:
Current ros walltime is 100 seconds, 0 nanoseconds.
ros::Time::now()::toNSecs() returns 100,000,000,000
And this value is taken as stamp of **pcl::PointCloud<pcl::PointXYZ>** (note that the msg variable is actually this type). As stamp of PCL PointCloud is interpreted as **microseconds** since epoch

[2018-04-24 22:52] wkentaro commented on #186
Oh, sorry. I overlooked that it uses `pcl::PointCloud` instead of `sensor_msgs::PointCloud2`
which I always use to publish points in ROS.

Yeah, as you mentioned, it is a bug of the tutorial, I think. And it raises below error:

[code]

and the sample code should be

[code]

[2018-04-24 23:01] wkentaro commented on #186
I updated the wiki: http://wiki.ros.org/action/diff/pcl_ros?action=diff

[2018-04-24 23:01] #186 closed, assigned to wkentaro

[2018-04-25 06:55] #173 closed, assigned to wkentaro

[2018-04-26 12:43] hrnr opened #189 "Release for ROS melodic"
This is quite a core stack, it would be nice to have this released early, so we could test applications on melodic.

[2018-04-26 15:23] mikaelarguedas commented on #189
It seems that this is [currently blocked](http://repositories.ros.org/status_page/blocked_releases_melodic.html?q=perception_pcl&s=6&r=1) by the fact that `pcl_conversions` has not been released yet (https://github.com/ros-perception/pcl_conversions/issues/28)

[2018-04-26 15:48] wkentaro commented on #189
I commented to request the maintainer for release: https://github.com/ros-perception/pcl_conversions/issues/28#issuecomment-384687756.
And I added the test on Travis (#190) to check if current default branch (lunar-devel) can be released.
(but currently we're sure it fails because of unreleased `ros-melodic-pcl-conversions`.)

[2018-04-30 16:00] paulbovbel commented on #189
Moved pcl_conversions to this repo (https://github.com/ros-perception/pcl_conversions/issues/28).

We need to make sure to sync up version numbers across packages to 1.6.0 on release into melodic.

[2018-04-30 16:26] wkentaro commented on #189
Can I release the same code to lunar, kinetic, and indigo for sync as 1.5.5, 1.4.4 and 1.2.10?

[2018-04-30 16:32] paulbovbel commented on #189
We shouldn't release the same code-line for the other distros. At the very least, moving the location of the pcl_conversions package will make things messy.

We can backport features as necessary/desired to older *-devel branches, and cut releases from there.

[2018-04-30 16:34] wkentaro commented on #189
Ok, I see. Thanks!

[2018-04-30 16:34] wkentaro commented on #189
Can I close this?
the PR to rosdistro was merged: https://github.com/ros/rosdistro/pull/17673

[2018-04-30 16:38] paulbovbel commented on #189
Yes, thanks!

[2018-04-30 16:38] #189 closed, assigned to wkentaro

[2018-04-30 16:40] paulbovbel commented on #171
Thanks, you're right, there is no explicit `tf2` support. If you find time to fix this, a PR would be welcome.

[2018-05-03 13:01] clalancette commented on #172
I believe (though I have not confirmed) that this problem will probably be fixed by #196.  Probably worth retesting to see if that is the case.

[2018-05-08 08:45] wkentaro opened #202 "Jenkins build is still unstable: Kdev__perception_pcl__ubuntu_xenial_amd64 #12"
See <http://build.ros.org/job/Kdev__perception_pcl__ubuntu_xenial_amd64/12/display/redirect?page=changes>

[2018-05-08 16:04] wkentaro commented on #202
It is still failing after #203
[code]
but it is caused by `find_package(PCL)`, specifically `find_package(PCL COMPONENTS io)`.
So it seems this cannot be fixed.

[2018-05-08 16:08] wkentaro commented on #202
This will be resolved by https://github.com/ros/rosdistro/pull/17783

[2018-05-08 16:19] wkentaro commented on #202
Closed via https://github.com/ros/rosdistro/pull/17783

[2018-05-08 16:19] #202 closed, assigned to wkentaro

[2018-05-12 13:02] isbdnt opened #204 "Anyone gives me an example about using a filter?"
I just cant figure out where is wrong. even though I just subscribe and publish pointcloud without doing anything, its still not working.
[code]
![image](https://user-images.githubusercontent.com/26591233/39957564-b7326a9e-5627-11e8-915d-b5aad8533b17.png)

![image](https://user-images.githubusercontent.com/26591233/39957556-7843e696-5627-11e8-987f-35cc20ef9287.png)

[2018-05-12 13:09] isbdnt commented on #204
with a filter
[code]

[2018-05-12 15:09] #204 closed

[2018-05-13 10:16] isbdnt opened #205 "color incorrect by convert_pointcloud_to_image"
the color of the model is orange, but the converted color is blue.
![image](https://user-images.githubusercontent.com/26591233/39966151-916e3bd2-56d9-11e8-92db-b65d832bb407.png)
![image](https://user-images.githubusercontent.com/26591233/39966155-9d45652a-56d9-11e8-8518-52f8b0f9b8e3.png)

[2018-05-13 10:54] isbdnt commented on #205
this might be a issue of libgazebo_ros_openni_kinect.so. I printed out the PointXYZRGB from the topic published by libgazebo_ros_openni_kinect.so. the rgb field seems wrong.

[2018-05-15 11:00] YangSiri opened #206 ""project include dir problem""
CMake Error at /opt/ros/kinetic/share/pcl_ros/cmake/pcl_rosConfig.cmake:113 (message):
[Project 'pcl_ros' specifies '/usr/include/hdf5/openmpi' as an include dir,
  which is not found.  It does neither exist as an absolute directory nor in
  '/opt/ros/kinetic//usr/include/hdf5/openmpi'. ]

[2018-05-16 04:42] wkentaro commented on #205
Yeah, I think so. Could you open an issue in https://github.com/ros-simulation/gazebo_ros_pkgs and close this issue?

[2018-05-16 04:54] wkentaro commented on #172
This issue is caused by pcl_ros and #196 is about pcl_conversions, so I think their issues are different.
(also, this issue happens on Kinetic + Xenial)

[2018-05-17 05:59] wkentaro opened #208 "Fix VTK issue caused by `find_package(PCL COMPONENTS io)`"
## Related Issues

- https://github.com/ros-perception/perception_pcl/pull/207
- https://github.com/ros-perception/perception_pcl/issues/172
- https://github.com/ros-perception/perception_pcl/issues/206

[2018-05-17 06:03] wkentaro commented on #206
Should be resolved via https://github.com/ros-perception/perception_pcl/pull/207 and I will release it soon.

[2018-05-17 06:03] #206 closed, assigned to wkentaro

[2018-05-17 06:03] wkentaro commented on #172
Should be resolved via #207 and I will release it soon.

[2018-05-17 06:03] #172 closed, assigned to wkentaro

[2018-05-17 06:06] ghost commented on #172
Released: https://github.com/ros/rosdistro/pull/17871

On Thu, May 17, 2018 at 3:03 PM Kentaro Wada <notifications@github.com>
wrote:

--
Kentaro Wada / 和田 健太郎
https://wkentaro.com <http://wkentaro.com>

[2018-05-17 06:06] ghost commented on #206
Released: https://github.com/ros/rosdistro/pull/17871

On Thu, May 17, 2018 at 3:03 PM Kentaro Wada <notifications@github.com>
wrote:

--
Kentaro Wada / 和田 健太郎
https://wkentaro.com <http://wkentaro.com>

[2018-06-13 22:32] OkkeHendriks opened #210 "Download of table_scene_lms400.pcd during build"
I am building ROS, including pcl_ros, in a production environment.
In order to guarantee stable reproducible builds we cannot rely on build-time downloads.

Therefore I suggest to remove the following download from the build, at least make it optional:

https://github.com/ros-perception/perception_pcl/blob/12482e555dfc295c47dba1e7c14560870c6a6d0e/pcl_ros/CMakeLists.txt#L201

Also I notice that it

[2018-06-14 03:30] paulbovbel commented on #210
Good catch.

Looks like we added a sample launch file (i.e. a test) in this PR (https://github.com/ros-perception/perception_pcl/pull/147). Although the test is only run within the `if(CATKIN_ENABLE_TESTING)` block, the download is registered in the parent scope. It would make sense to move the download to the testing block as well.

[2018-06-14 10:08] OkkeHendriks commented on #210
Yes, inside the test block would already be better.
We could also add the file to the repository -> no (extra) download required.
Or is this file considered binary/too large (17MB)?

[2018-06-14 19:33] paulbovbel commented on #210
I think Git LFS is the preferred approach for something like that, but I don't think it's supported on the upstream buildfarm. @nuclearsandwich could you please confirm the correct approach here?

[2018-06-14 20:02] nuclearsandwich commented on #210
17MB isn't enormous. Big binary files with plain git only start to cause real problems when they change often. This file doesn't appear to've changed since 2010 so I think adding it to the repository directly is worth considering. It's probably what I'd do here.

If there is a high concern about adding 17M to every new clone of the repository then the suggestion above to move the download block to

[2018-06-14 20:57] paulbovbel commented on #210
:+1: thanks

I'd prefer just moving to the CATKIN_ENABLE_TESTING block, unless that's an issue @OkkeHendriks ?

[2018-06-15 08:55] zhixuan-wei opened #211 "row_step bug in concatenatePointCloud"
In the function `concatenatePointCloud` of `pcl_conversions.h`, row_step of output is wrong.

Right now it is: `row_step of output = row_step of cloud1`.

I think the right one is: `row_step of output = row_step of cloud1 + row_step of cloud2`

[2018-07-10 14:16] developerAy commented on #119
Hello. I was trying to customize dwa-local-planner & base-local-planner in the ROS navigation stack. In order to do that, I had to use catkin_make to compile it in the catkin workspace. I got the same error using kinetic ROS which is:

 make[2]: *** No rule to make target '/usr/lib/x86_64-linux-gnu/libproj4.so', needed by '/home/username/catkin_ws/devel/lib/pcl_ros/lib/libdwa-local-planner.so'.  S

[2018-08-22 08:00] moooeeeep opened #212 "Can we make pcd_to_pointcloud publish once using a latched topic instead?"
I want to publish a large, never changing pointcloud. Currently, with `pcd_to_pointcloud`, the pointcloud is only published once, which means that I have to relaunch the node whenever the node that processes it restarts. I find this inconvenient.

Luckily the fix is easy. Just make the publisher advertise to latch the topic. Maybe I can make a PR later.

Any opinions on this?

[2018-08-22 11:16] OkkeHendriks commented on #210
No that is not an issue @paulbovbel, that is actually what I did locally, because I do not use the tests.
 I still agree with nuclearsandwich that adding it to the repo (and putting it in CATKIN_ENABLE_TESTING) is the best solution in this case.

[2018-08-22 21:36] paulbovbel commented on #212
That sounds reasonable, PRs welcome

[2018-08-23 14:04] paulbovbel commented on #210
I this we may not be on one page, because putting the download behind CATKIN_ENABLE_TESTING and adding the file to the repo, are mutually exclusive options.

Not a huge fan of making the base repository checkout 17 MB larger, forever. Since we don't have access to git-lfs, `catkin_download` seems like a sane alternative that's used extensively in other ROS projects. Just make sure to run your buil

[2018-10-11 19:53] OkkeHendriks commented on #210
You are right :)

[2018-10-22 16:04] vbschettino opened #216 "keep_organized parameter makes no difference in pcl/CropBox nodelet"
Hi,

I think the title is self-explanatory; when using the pcl/CropBox nodelet, the keep_organized parameter seems to make no difference and the output cloud is always unorganized. Following is the launch file I used to see this:
[code]

[2018-11-04 05:19] jerry73204 opened #217 "[indigo] cmake error "The property "IMPORTED_LOCATION" is not allowed""
It happens when I tried to build [ros-indigo-pcl-ros](https://aur.archlinux.org/packages/ros-indigo-pcl-ros) pacakge on Arch Linux. The cmake failed with this message.

[code]
A temporary fix can be done by commenting out [this line](https://github.com/ros-perception/perception_pcl/blob/7768363565eaabbe9fce2d0ed6ec8a196db5fe38/pcl_ros/CMakeLists.txt#L74). My findings it that the catkin script enum

[2018-11-21 04:25] yiakwy commented on #104
@mikepurvis Note the homebrew/science/pcl has been moved to brewsci/science/pcl and the issue has not been resolved. Nearly 5 years (2013)! I cannot believe it!

[2018-11-21 17:53] peci1 commented on #152
https://answers.ros.org/question/298352/new-message-format-for-compressed-pointcloud2/

[2018-12-19 05:58] Karsten1987 commented on #149
I just recently ran into this. Have you figured a way around this issue?

[2019-01-03 01:52] q8wwe opened #218 "ERROR: cannot launch node of type [pointcloud_to_laserscan/pointcloud_to_laserscan]: can't locate node [pointcloud_to_laserscan] in package [pointcloud_to_laserscan]"
I'm using pointcloud_to_laserscan on gazebo simulation but i got the below error:-

ERROR: cannot launch node of type [pointcloud_to_laserscan/pointcloud_to_laserscan]: can't locate node [pointcloud_to_laserscan] in package [pointcloud_to_laserscan]

my system ros kinetic

[2019-01-17 22:47] GrantDare opened #219 "'struct pcl::PointCloud2' has no member named 'points'"
I was [recommended](https://answers.ros.org/question/312336/how-to-filter-pointcloud2-data-based-on-distances/?answer=312364#post-id-312364) to use pcl_ros to perform very basic filtering on a problem I am experiencing. The recommendation did not show any includes and for the life of my I am unable to solve the compile issue shown in the title, _'struct pcl::PointCloud2' has no member named 'point

[2019-01-31 17:32] a-clare opened #220 "No rule to make target"
I am trying to build this package from source, cloned it into my workspace. When I run **catkin_make** in catkin_ws I get:

make[2]: *** No rule to make target '/usr/lib/x86_64-linux-gnu/libpcl_common.so', needed by '/home/adam/catkin_ws/devel/lib/pcl_ros/convert_pointcloud_to_image'.  Stop.

However the file exists:
stat /usr/lib/x86_64-linux-gnu/libpcl_common.so
  File: /usr/lib/x86_64-linux-gnu

[2019-01-31 17:39] paulbovbel commented on #220
None, sorry. Can't really give you any advice without further information about your environment, workspace, or what command you're running.

[2019-01-31 17:51] a-clare commented on #220
I added some more information on my environment. Not sure what other information you require, let me know and I can provide it.

[2019-02-13 15:24] Patrick-Lascombe opened #222 "Using pcl::transformPointCloud with melodic and tf2"
Hello everyone,

I'm trying to use the function pcl::transformPointCloud function in melodic and so with tf2, but it seem that the only type of transform accepted are :
- tf::TransformListener
- tf::Transform
http://docs.ros.org/melodic/api/pcl_ros/html/namespacepcl__ros.html#aad20af010640a41f1898e75f6a6121ad

Do you have any idea on how to use this function with tf2 ?

Thanks for your help !

[2019-03-06 12:59] QiuYilin opened #224 "How to convert the data of pcl::pointxyz to a 3 column array?"
I can get the result (x,y,z) through the at function of pcl::PointCloud<pcl::pointxyz>，but I don't know how to get the separate value of x,y,z since my IDE can't go to the definition and I haven't seen related explanation.

[code]

[2019-03-06 15:08] peci1 commented on #222
You can work around this using Eigen transform matrix. However, I also don't feel like this is the Melodic way of doing things...

    #include <tf2_eigen/tf2_eigen.h>
    const auto scan_tf = tf_buffer.lookupTransform(robot_frame,
         scan.header.frame_id, scan.header.stamp, ros::Duration(1));
     point_cloud.header.frame_id = robot_frame;
     pcl_ros::transformPointCloud(
         tf2::tr

[2019-03-06 15:10] peci1 commented on #222
Depends on #171 ,

[2019-03-06 15:16] paulbovbel commented on #222
Sorry I didn't respond earlier. You're right, this is a bit of a mess. `tf2` operates on ROS message types, and has native support for `sensor_msgs::PointCloud2` via https://github.com/ros/geometry2/blob/melodic-devel/tf2_sensor_msgs/include/tf2_sensor_msgs/tf2_sensor_msgs.h

[2019-03-06 15:23] peci1 commented on #222
This certainly is an option, but there still are the classes `tf2::Transform` etc. which might be present in this API, couldn't they?

[2019-03-06 15:40] paulbovbel commented on #222
absolutely, or perhaps more usefully the `tf2::doTransform` API could be defined for the pcl::PointCloud types.

[2019-03-18 08:33] christenbc commented on #218
you have to git clone also this http://wiki.ros.org/tf2_sensor_msgs and do catkin_make

[2019-03-18 16:15] paulbovbel commented on #218
Please work through the ROS workspace tutorials, and then point usage questions to ROS answers

[2019-03-18 16:15] #218 closed, assigned to nobody

[2019-03-27 22:30] LucidOne opened #225 "ROS2 Port"
Is there a central place where we are tracking architectural  issues for a ROS2 interface to PCL?

The big one I recall is handling pipelined pcl operations with nodelets. Zero copy is great until an old point cloud gets over written by a new one before you are done with it.

[2019-03-27 23:07] paulbovbel commented on #225
Not really, as no one has declared they have time/inclination to make it happen. The way I see it, the two missing pieces required for a nominally useful ROS2 PCL pipeline are:
- type masquerading - serializing/deserializing between every pipeline step is unpleasant
- a way to compose and execute a pipeline from a bunch of managed nodes. I suspect most of the pieces are there (other than perhaps a

[2019-03-28 07:28] LucidOne commented on #225
I'll jot down some of my other thoughts as I remember them here until there is a designated place to keep track of design notes.

I'd like to consider adding time delta information to ordered point clouds so the temporal dewarping code doesn't need to be reimplemented for each lidar. My recollection is that the rotation speed of a spinning lidar was slightly susceptible to power supply fluctuation

[2019-03-28 08:33] LucidOne commented on #225
It may be a little speculative but in terms of serialization, it may be worth looking at how multiple operations can be offloaded to a GPU/FPGA. I'm thinking something like OpenGL shaders or [OpenVX](https://github.com/rgiduthuri/openvx_tutorial/blob/master/tutorial_exercises/solution_exercise2/solution_exercise2.cpp#L324) to avoid serializing and deserializing between each hardware accelerated op

[2019-03-28 13:15] paulbovbel commented on #225
Just to avoid scaring anyone considering taking this on, I can't help but think that while those projects are worthwhile to consider taking on in PCL proper, they're probably out of scope for a ROS2 migration of pcl_ros.

[2019-03-28 17:43] LucidOne commented on #225
I agree that some of this is outside of a minimum viable port for ROS2, however some of these items will require changes from hardware drivers generating [PointClouds](http://docs.ros.org/api/sensor_msgs/html/msg/PointCloud2.html) across to PCL itself, but I figured this was about the midpoint.

[2019-03-31 21:05] Harsharma2308 opened #226 "PCD file version"
On using -
`rosrun pcl_ros bag_to_pcd  data.bag /laser_tilt_cloud .`

I get this file saved-
What format is this? How can I convert this file to PCD v0.7 format?
[code]

Edit:
On using some other data editor, the decoded text appeared like this-
[code]
I guess this is because data is stored in binary instead of ascii.

I am able to see my saved pointcloud in pcl_viewer. (My file's name is knife.pc

[2019-04-01 01:44] Harsharma2308 commented on #226
Closing this as I find out it was because of nan values of some x,y,z coordinates in the cloud.

[2019-04-01 01:44] #226 closed, assigned to nobody

[2019-04-05 18:41] PetrichSchmoin opened #228 "Bug in transform.hpp?"
Hello everyone,

is there a bug in setting the `frame_id` of the output cloud in transform.hpp? I always get an empty `frame_id` for the output cloud when I call `transformPointcloud(..)`

In the transform.hpp at the lines [183 to 186](https://github.com/ros-perception/perception_pcl/blob/a8ba2c790db5db181725606649e1fc7c776c1ffd/pcl_ros/include/pcl_ros/impl/transforms.hpp#L183) (and [216 - 219](ht

[2019-04-06 00:11] LucidOne commented on #228
I updated your post with links to the code, as I understand it.
This looks like a bug, and it should also be an easy unit test to write.
PRs as always are appreciated.

[2019-04-06 01:34] LucidOne commented on #228
The test should be something like [this](https://github.com/ros-perception/perception_pcl/blob/melodic-devel/pcl_conversions/test/test_pcl_conversions.cpp)

[2019-04-06 20:34] PetrichSchmoin commented on #228
I don't have much time to spend at the moment. Maybe I can try to fix it next month if no one else fixed it until then.

[2019-04-17 07:52] klintan commented on #225
I started this (lets hope I didn't bite off more than I can chew) as it is a dependency in the velodyne device driver library, and I'm trying to get that to ROS2.

Could you create a `crystal-devel` branch? that way I can start a draft PR for you guys to follow and give feedback as I progress.

Regardless of the end results, it might at least serve as inspiration for future efforts.

[2019-04-19 00:30] LucidOne commented on #225
done

[2019-04-25 14:05] npd26 opened #230 "catkin_make error"
hello,

I am trying to use

 package for realsense camera.

after cloning package when I try to run catkin_make it is giving me errors like,

`this file require compiler and library support for the ISO c++ 2011 standard.`

`std::this_thread has not been declared`

`std::chrono has not been declared`

how to solve this?

thanks.

[2019-04-26 14:18] LucidOne commented on #230
Please run `git branch` and check that you are using `kinetic-devel` or upgrade [gcc](https://gcc.gnu.org/wiki/C11Status) if you are attempting to backport `melodic-devel`.

[2019-04-26 14:41] peci1 commented on #222
Solution proposed in https://github.com/ros-perception/perception_pcl/pull/231 .

[2019-04-28 15:09] npd26 commented on #230
@LucidOne I am using git - kinetic devel but still not working. same error.

[2019-04-29 22:18] LucidOne commented on #230
Can you check that your copy [matches](https://github.com/kejxu/perception_pcl/blob/kinetic-devel/pcl_ros/tools/pcd_to_pointcloud.cpp)? What file references `std::chrono`?

[2019-04-30 13:35] brunoeducsantos opened #234 "Save point cloud topic XYZRGBA per timestamp does not work"
Hi,
My goal is to to save per timestamp pcd files from a pointcloud XYZRGB topic using the following command:

`rosrun pcl_ros pointcloud_to_pcd  input:=/segmenter/seg_cloud`

Using this command I only got one single file which is override every timestamp and has the following values:

[code]

The way I am publishing the point cloud is:

[code]
Properties:
* PCL 1.8
* ROS kinetic Ubuntu 16.04

Doe

[2019-05-08 09:46] npd26 commented on #230
so, directly downloading zip file for kinetic-devel worked.

[2019-05-08 09:46] #230 closed, assigned to nobody

[2019-05-08 13:51] bomarali opened #235 "run filter nodelets with CUDA"
Hi all!
I am using the libfreenect2 and iai_kinect2 with CUDA and want to run pcl filter nodelets on CUDA as well. Is it possible?
Currently I experience a considerable fps drop on statistical and radius outlier removal.

[2019-05-08 14:24] paulbovbel commented on #235
A small subset of PCL filters have CUDA implementations. None of those are available in ROS - PRs welcome.

[2019-05-11 08:24] hakuturu583 opened #236 "publish euclidean clustering result by using vision_msgs"
I think vision_msgs/Detection3DArray(https://github.com/Kukanani/vision_msgs/blob/kinetic-devel/msg/Detection3DArray.msg) is a good description for Euclidean Clustering Result.
So, I want to publish euclidean clustering result as this message type.

[2019-05-11 08:59] #236 closed, assigned to nobody

[2019-06-13 21:17] Dinatorehanova opened #237 "[pcl::PCDReader::readHeader] Invalid COUNT value specified"
Hi,

When I am trying to convert my PCD file coming out from the bag file into las file using PDAL, I am getting this error like

[pcl::PCDReader::readHeader] Invalid COUNT value specified

But when I am applying this onto the pcd file coming out of the(pointcloud to pcd tool) it works fine.

Can anyone please tell me how to resolve this issue? And is there any tool available that will merge many

[2019-06-28 15:43] #16 closed, assigned to paulbovbel

[2019-07-03 19:33] #150 closed, assigned to nobody

[2019-07-22 20:52] ncala22 opened #241 "tpp.c:84: Assertion fails when using pcl_ros::transformPointCloud in kinetic"
I have pcl_ros::transformPointCloud set up in a callback from a subscription to a PointCloud2 topic, and upon being called the first time I get the following error.

transf_vox_cloud: tpp.c:84: __pthread_tpp_change_priority: Assertion `new_prio == -1 || (new_prio >= fifo_min_prio && new_prio <= fifo_max_prio)' failed. Aborted (core dumped)

code below:

#include <ros/ros.h>
#include <tf/tf.h>
#inc

[2019-07-23 15:10] ncala22 commented on #241
This is a fault of my code and misuse of pointers, my bad.

[2019-07-23 15:10] #241 closed, assigned to nobody

[2019-07-31 21:30] patbenatar opened #242 "melodic-devel branch fails to build on Ubuntu 18.04/Melodic + PCL 1.9 with to ConvexHull error"
Trying to use `catkin build` to compile the `melodic-devel` branch on a Jetson Xavier with Ubuntu 18.04/Melodic + PCL 1.9 installed. I've traced this down to what I think is an issue related to qhull and an `#ifdef HAVE_QHULL` in `convex_hull.h` inside PCL, however I've confirmed that `libqhull-dev` is installed on the device...

[code]

[2019-08-09 11:41] abylikhsanov commented on #225
Any update on this?

[2019-08-12 10:02] paplhjak commented on #152
I have implemented a [point_cloud_transport](https://github.com/paplhjak/point_cloud_transport) package for transport of PointCloud2 messages, which uses plugin interface ala image_transport. In the README, you can also find links to other repositories, which contain but are not limited to:

1. plugin for compression using Google Draco
2. template for implementing your custom plugins
3. tutorial o

[2019-08-13 02:06] klintan commented on #225
A lot in the package requires type masquerading which is yet to be supported in ROS2, and it will  probably take some time before it's ready. I put my PR for ROS2 on hold. I'll see if I take it up again. Feel free to check out my fork and continue if you feel like it, all additions are welcome.

[2019-08-25 04:08] #237 closed, assigned to nobody

[2019-08-25 04:22] Dinatorehanova opened #245 "Missing Attributes in PCD file generated from bag to pcd"
Hi,
I am using pcl_ros library's bag to pcd command to convert my pointcloud2 topic into pcd file.

![image](https://user-images.githubusercontent.com/51459647/63645486-804a1200-c6bc-11e9-930b-9debc1af2525.png)

The PCD files should have the values for (range, reflectivity, timestamp, noise, x,y,z and itensity). However, when I am opening the PCD file in the cloudcompare I am getting a constant va

[2019-08-27 04:17] ethan20120 opened #246 "pointcloud mesage to las file"
Hi,

Is there any tool available which directly converts the rosbag point cloud message into las file ?

And how I can run the tools of this repository(e.g. bag to pcd). I have cloned the github.Can anyone please guide me how to use the tools of this github on my ros bag ?

Thanks

[2019-09-25 03:14] m782015362 commented on #106
Hello everyone, i am a  novice,when i building the catkin Workspace i got the problem "fatal error: opencv2/xfeatures2d/cuda.hpp: No such file or directory".Do you have any good Suggestions to help me solve it?  thanks

[2019-09-26 05:04] thecoldviews commented on #219
try 'data' instead of 'points'

Reference: http://docs.pointclouds.org/1.0.0/structsensor__msgs_1_1_point_cloud2.html

[2019-10-08 07:48] #212 closed, assigned to nobody

[2019-10-15 19:24] #222 closed, assigned to nobody

[2019-10-15 19:59] SteveMacenski commented on #246
Hi,
Thanks for the question but your more likely to get help on ROS Answers than here. Closing this ticket

[2019-10-15 19:59] #246 closed, assigned to nobody

[2019-10-15 20:03] SteveMacenski commented on #224
Hi,
You're more likely to get help on library use from ROS Answers or reading the autogenerated docs. I'm going to close this ticket.

[2019-10-15 20:03] #224 closed, assigned to nobody

[2019-10-15 20:03] SteveMacenski commented on #220
@AdamTheCanadian is this still a concern?

[2019-10-15 20:04] SteveMacenski commented on #219
Hi,
You're more likely to get help on library use from ROS Answers or reading the autogenerated docs. I'm going to close this ticket.

[2019-10-15 20:04] #219 closed, assigned to nobody

[2019-10-15 20:05] SteveMacenski commented on #210
Is sounds like this came to a good resolution :+1:  closing ticket!

[2019-10-15 20:05] #210 closed, assigned to nobody

[2019-10-15 20:07] SteveMacenski commented on #164
Hi,
You're more likely to get help on library use from ROS Answers or reading the autogenerated docs. I'm going to close this ticket.

But to directly answer your question, yes that is intentional. All the filters assume nans to be gone

[2019-10-15 20:07] #164 closed, assigned to nobody

[2019-10-15 20:35] atyshka commented on #222
This was merged in April but I still don't see the new functions in the latest melodic binaries...

[2019-10-15 20:39] SteveMacenski commented on #222
That makes sense https://github.com/ros/rosdistro/blob/master/melodic/distribution.yaml#L5575 that release didn't make it to bloom.

~I can take care of it~

Edit: lies, I dont have access to ROS1's release org. @paulbovbel  I'll trade you 2 `pcl_msgs` bloom runs for 1 `perception_pcl` run on the 1.7.0 you already tagged but didnt bloom up

[2019-10-16 16:32] paulbovbel commented on #222
Sure thing. Just for sanity, @mjcarroll, could we please add Steve to PCL Team in ros-gbp?

[2019-10-16 16:48] mjcarroll commented on #222
I believe that I lack the power there, I'll ping someone who can.

[2019-10-16 16:51] nuclearsandwich commented on #222
Invite dispatched.

[2019-10-16 17:01] SteveMacenski commented on #222
Oh hi, got that email out of the blue and didn't know why I was added.

Cool :+1:

[2019-10-16 18:48] SteveMacenski commented on #245
PRs welcome, my guess is the script doesn't support the full gambit of pointcloud template options but it shouldn't be too hard to add them

[2019-10-16 18:54] SteveMacenski commented on #84
Inactive, closing

[2019-10-16 18:54] #84 closed, assigned to nobody

[2019-10-16 18:55] SteveMacenski commented on #103
Inactive, closing. Looks like user compilation issue not a package problem

[2019-10-16 18:55] #103 closed, assigned to nobody

[2019-10-18 20:04] atyshka commented on #222
Thanks for working on this! ROS Index said the version was updated to 1.7 on Oct 16 but Ubuntu 18.04 apt still has 1.6.2 as latest version. Is the ubuntu PPA only updated periodically?

[2019-10-18 20:08] SteveMacenski commented on #222
The last sync was about 3 weeks ago, it'll be a few more weeks before the next Melodic sync

[2019-10-18 20:11] SteveMacenski commented on #217
Closing, Indigo  was EOLed and given arch is not a supported distribution, there's not much we can help with here without the author of this ticket submitting a PR to resolve their concerns.

If this continues to be a problem in active distributions, I'll merge any PR that gets Arch online.

[2019-10-18 20:11] #217 closed, assigned to nobody

[2019-10-18 20:14] SteveMacenski commented on #216
@vbschettino are you sure your pointcloud was organized to begin with?

https://github.com/ros-perception/perception_pcl/blob/12482e555dfc295c47dba1e7c14560870c6a6d0e/pcl_ros/src/pcl_ros/filters/crop_box.cpp#L84

This logic looks pretty solid to me. What's your distribution / version?

[2019-10-18 20:16] SteveMacenski commented on #208
@wkentaro marked as wontfix, I take that to mean this ticket can be closed.

[2019-10-18 20:16] #208 closed, assigned to nobody

[2019-10-18 23:48] peci1 commented on #222
@atyshka Watch https://github.com/ros/rosdistro/pull/22689 . Once it's merged, wait for CI job http://build.ros.org/job/Mbin_uB64__perception_pcl__ubuntu_bionic_amd64__binary/ to re-run. When it finishes, the built .deb files will be uploaded into the shadow-fixed repo: http://packages.ros.org/ros-shadow-fixed/ubuntu/pool/main/r/ros-melodic-perception-pcl/ . And a few weeks later they will become

[2019-11-06 20:30] mvieth commented on #242
Is this still an issue?
If yes, you could try [this tutorial](http://www.pointclouds.org/documentation/tutorials/hull_2d.php) (switch out the `ConcaveHull` for `ConvexHull`). If the same error appears, the problem is with PCL itself and you should create an issue there.
It would also be interesting to know how you installed PCL. Since the apt-version for 18.04 is 1.8.1 and not 1.9, you probably co

[2019-11-11 16:40] patbenatar commented on #242
@mvieth I can't confirm if this is still an issue, as I left it off with a workaround and haven't gotten around to trying other solutions since then. We were compiling PCL from source, so given that I'd be OK with closing out this issue and considering it an edge case or an issue unrelated to this repository. Cheers :beers:

[2019-11-11 16:40] #242 closed, assigned to nobody

[2019-11-12 19:49] mvieth commented on #245
@Dinatorehanova The google drive links don't work anymore, would you provide new ones?
The issue is likely in `pcl_conversions.h`, maybe the field descriptions are not copied correctly, but that is difficult to say without the files.

[2019-11-12 20:10] mvieth commented on #234
So your problem is that the file is overwritten, do I understand that correctly?
What is the name of the file? I don't see that you set the stamp of the header of `cloud_xyzrgb` anywhere, so if that is always the same, that would be the reason why it gets overwritten (because the time stamp is the name).
Also: you should not save PointXYZRGB as ASCII. Either switch to PointXYZRGBA or save as binar

[2019-11-13 14:28] Fllying opened #248 "How can I try to continue install ROS on the board?"
I am try to install ROS on Raspberry Pi 4B referenced from the wiki:
http://wiki.ros.org/ROSberryPi/Installing%20ROS%20Kinetic%20on%20the%20Raspberry%20Pi
when Building the catkin Workspace:
input the code:
Invoke catkin_make_isolated:
$ sudo ./src/catkin/bin/catkin_make_isolated --install -DCMAKE_BUILD_TYPE=Release --install-space /opt/ros/kinetic
error information like this:
==> Processing catki

[2019-11-13 14:33] SteveMacenski commented on #248
This is Perception PCL, not the RPi folks. I'd try filing a ticket with them or using ROS Answers.

[2019-11-13 14:33] #248 closed, assigned to nobody

[2019-11-13 17:23] SteveMacenski commented on #220
Closing, if still an issue feel free to comment and I'll reopen if still an issue.

[2019-11-13 17:23] #220 closed, assigned to nobody

[2019-11-13 17:24] SteveMacenski commented on #228
@PetrichSchmoin any update? I would merge that PR pretty quickly

[2019-11-13 17:25] SteveMacenski commented on #205
Closing, not a PCL Perception issue.

[2019-11-13 17:25] #205 closed

[2019-11-15 20:45] mvieth commented on #228
I created a PR. There is no unit test, but the problem itself should be fixed.

[2019-11-16 14:13] mvieth commented on #216
I agree with @SteveMacenski that the `keep_organized` parameter is definitely passed on to the filter. I tested it (with an organized cloud) and found the same problem as @vbschettino. To me it seems that there is a bug in pcl itself, so I created an issue there.

[2019-11-16 17:42] SteveMacenski commented on #216
Awesome! Thanks for hunting that down!

Closing this ticket and I’ll look at your new one

[2019-11-16 17:42] #216 closed, assigned to nobody

[2019-11-18 09:35] yp233 opened #250 "pcl_transformpointcloud cost high CPU"
I transform the pointcloud in the lidar frame to car frame in the callback by pcl_ros::transformpointcloud . It turns out that it cost too much CPU. I set the node frequency as 20 and the sensor frequency is 10. Am I wrong？

[2019-11-18 15:14] SteveMacenski commented on #250
Please post your code, what you expect, and specifically what happens. “Too much cpu” isn’t enough information. Amounts, what your baseline is, etc

[2019-11-19 02:04] yp233 commented on #250
Sor, the code is private.So forgive me that i can't post the code . In the code i started a new thread for transforming the pointcloud in lidar frame to pointcloud in car frame.
And the code is " pcl::transformPointCloud (scan_msgs_cloud_, cloud_tmp, sensor_in_base_);"
The type of sensor_in_base_[pair.first] is eigen::martix4d. The amount of pointcloud is nearly 7000. And this code costs 10% CPU.

[2019-11-19 02:22] SteveMacenski commented on #250
Unfortunately without code samples or concrete details of an actual bug (used to be X% now X+10% after ABC), we can’t help.

If you’re able to provide more details happy to take a look. PRs are also always welcome.

[2019-11-19 02:22] #250 closed, assigned to nobody

[2019-11-19 02:36] SteveMacenski commented on #250
The best advise I can give is to profile the bit of code and see where the time is being taken and then find if that’s actually an unreasonable amount of time for it to take for your unspecified platform

[2019-11-19 02:37] yp233 commented on #250
I post code to your email. please check.

[2019-11-19 02:43] yp233 commented on #250
@SteveMacenski
Have you got the email ?
Thanks a lot !

[2019-11-19 03:33] SteveMacenski commented on #250
@yp233 if you're not willing to post this code publicly, please do not send it to me. I'm not interested in getting in any IP issues with whatever company or group you're working with. I will not open it nor will I read it to debug for you if this is a fully private piece of software. At *most* I could give you the contact of a consultant that can help you but if this isn't an open-source or snipp

[2019-11-19 03:42] yp233 commented on #250
Thanks a lot ！ I will do more test by myself. Thanks for ur attention.

[2019-11-19 03:48] SteveMacenski commented on #106
Just to recap- are there any action items for this repo to help folks? If not, I can close this and pin it for future searchers

[2019-11-26 20:15] #228 closed, assigned to nobody

[2019-11-26 20:16] SteveMacenski commented on #106
Closing - it sounds like things have been resolved.

[2019-11-26 20:16] #106 closed, assigned to nobody

[2019-11-26 20:19] SteveMacenski commented on #125
Is this still an issue?

Indigo is EOL, closing but if it propogates to Kinetic or Melodic let me know

[2019-11-26 20:19] #125 closed, assigned to nobody

[2019-11-27 16:05] hhansen-bdai opened #254 "Noetic Support"
In going through the [Python3/Noetic transition tutorial](http://wiki.ros.org/UsingPython3) I found that pcl_conversions and pcl_ros have Python 2 dependencies, and have no listed entry on the [yaml where they document Noetic readiness](https://github.com/ros/rosdistro/blob/master/noetic/distribution.yaml).

It also appears that this is [directly blocking 35 other packages, and recursively 55](htt

[2019-12-12 08:01] geoeo opened #257 "Cant find VTK header"
I dont know what happend. But after I did a (seemingly innocent) ubuntu live update my ros project wont compile.

The CMAKE error is as follows :

`Project 'pcl_conversions' specifies '/usr/include/vtk-6.3' as an include dir, which is not found. It does neither exist as an absolute directory
  nor in
  'catkin_ws/src/perception_pcl/pcl_conversions//usr/include/vtk-6.3'.`

[2019-12-12 13:14] #257 closed, assigned to nobody

[2020-01-02 08:24] chennuo0125-HIT opened #259 "dont support pcl-1.9 ???"
/home/ubuntu/catkin_ws/src/perception_pcl/pcl_ros/include/pcl_ros/point_cloud.h:79:37: error: no match for ‘operator=’ (operand types are ‘std::shared_ptr<std::vector<pcl::detail::FieldMapping> >’ and ‘boost::shared_ptr<std::vector<pcl::detail::FieldMapping> >’)
       pcl::detail::getMapping(*msg) = mapping_;

[2020-01-02 08:28] SteveMacenski commented on #259
Can you please add some detail on what's going on.

Posting a question and what appears to be an error next to a line of code doesn't really give much context or ability to assist .

[2020-01-02 09:15] chennuo0125-HIT commented on #259
my system is ubuntu kinetic. i want to compile a pkg depended on pcl_ros pkg, but i encounter error as follows:
![pcl_ros_1](https://user-images.githubusercontent.com/37269147/71659472-b3936080-2d82-11ea-9ae5-ab8a96f4a7ad.png)
the error maybe is caused by that i have installed pcl-1.9.1, so i want to install pcl_ros by source code, but i encounter another problem as follows:
![pcl_ros_2](https://u

[2020-01-02 09:34] SteveMacenski commented on #259
The officially supported PCL version for Kinetic is 1.7.x (https://www.ros.org/reps/rep-0003.html#kinetic-kame-may-2016-may-2021)

[This](https://github.com/ros-perception/perception_pcl/pull/258) PR would probably fix your issue. 1.9 has API changes that are incompatible with this package in Kinetic.

[2020-01-09 20:25] taketwo commented on #259
It appears that you have installed PCL from the `master` branch, i.e. not `1.9.1`, but rather `1.9.1-dev`. It is indeed incompatible with this package. Your options are either apply this patch or install released PCL 1.9.1.

[2020-01-16 14:32] jenaes opened #260 "No subsciption"
I am using ROS kinetic and for some reason, the package has no subscribers. I tried it on a different system with kinetic as well and the problem is still the same. Here's what I did:

installed the package using:
sudo apt-get update ros-kinetic-pointcloud-to-laserscan

then started roscore and after that the node using:
rosrun pointcloud_to_laserscan pointcloud_to_laserscan_node

then i looked at

[2020-01-16 15:09] #260 closed, assigned to nobody

[2020-02-01 06:23] generush opened #261 "Incorrect concatenation of point clouds with differing point_step and row_step"
Hello,

Thank you for providing such a powerful ros package. Unfortunately, I believe I found an issue, and wanted to share it in case a solution is available.

Big picture, I am trying to concatenate three point clouds data streams from ROS (PointCloud2 topics), but they come from different types of sensors (1 x Ouster, 2 x Pico Flexx) and have different data types. My application is mobile robot

[2020-02-01 06:39] SteveMacenski commented on #261
PRs are appreciated. That sounds like a relatively straight forward fix if that is the issue.

I do happen to have both of those sensors available to me, but I won’t have time to address this in the immediate future myself. I can help gather data or answer questions if that helps you in resolving the issue

[2020-02-01 09:52] generush commented on #261
Thanks for responding so fast. Do you have any suggestions for solving? I do not now how to solve it, I just discovered the problem when I realized I couldn't do what I wanted. Since I needed a solution in the short term, I just made my own custom solution (https://github.com/erush91/pcl_merge.git), but I know that it uses significantly more compute than the pcl_ros library. Let me know if you fig

[2020-02-05 19:14] SubMishMar opened #262 "pcl_ros shows compilation error with PCL 1.8"
I have pcl 1.8 installed and I get errors like:
`CMake Error at /opt/ros/kinetic/share/pcl_ros/cmake/pcl_rosConfig.cmake:113 (message):
  Project 'pcl_ros' specifies '/usr/include/pcl-1.7' as an include dir, which
  is not found. `
When trying to catkin build. How can change the include folder that pcl_ros is looking for by replacing pcl-1.7 with pcl-1.8?

[2020-02-13 13:55] ivanpauno opened #263 "[Eloquent] perception_pcl should export pcl include directories"
Currently, only the `include` directory is exported:
https://github.com/ros-perception/perception_pcl/blob/1273c7581d172f0a3c99e5f267e8c7c61692c38d/pcl_conversions/CMakeLists.txt#L51

Dependent packages are needing to manually depend on:
https://github.com/ros-perception/perception_pcl/blob/1273c7581d172f0a3c99e5f267e8c7c61692c38d/pcl_conversions/CMakeLists.txt#L33
which shouldn't be the case IMO.

[2020-02-13 17:41] SteveMacenski commented on #263
Feel free to submit a PR, seems reasonable

[2020-03-22 17:07] tomaszkaliciak commented on #257
@geoeo, what was the problem?

[2020-03-28 01:44] SteveMacenski opened #268 "Release updated PCL Perception for Melodic to get min_points_per_voxel"
per https://github.com/SteveMacenski/spatio_temporal_voxel_layer/issues/134

[2020-04-02 19:48] #268 closed, assigned to nobody

[2020-04-03 08:53] ahcorde opened #271 "Release perception_pcl to Noetic?"
Would you mind releasing `perception_pcl` to ROS Noetic? It looks like all of its dependencies have been released, and recursively 65 repos need it.

This changes should be enough https://github.com/ros-perception/perception_pcl/pull/270

[2020-04-03 18:27] NicoBrug opened #272 "Build Failed with Melodic"
When i make "catkin_make" i see this error :
`make[2]: *** [perception_pcl/pcl_ros/CMakeFiles/pcl_ros_filters.dir/src/pcl_ros/filters/voxel_grid.cpp.o] Error 1
CMakeFiles/Makefile2:12997: recipe for target 'perception_pcl/pcl_ros/CMakeFiles/pcl_ros_filters.dir/all' failed
make[1]: *** [perception_pcl/pcl_ros/CMakeFiles/pcl_ros_filters.dir/all] Error 2
Makefile:140: recipe for target 'all' failed`

[2020-04-03 18:55] SteveMacenski commented on #272
I see it [here](https://github.com/ros-perception/perception_pcl/blob/601d980801c53913f5982dbecd16b303aba0158e/pcl_ros/cfg/VoxelGrid.cfg#L16) and [here](https://github.com/ros-perception/perception_pcl/blob/2f70209fb51ec7202e4d318437d12bdd85b3183c/pcl_ros/src/pcl_ros/filters/voxel_grid.cpp#L86). Where do you think its missing from?

Are you sure you've pulled in changes in the last ~6 months to me

[2020-04-03 19:26] SteveMacenski commented on #271
Ask and ye shall receive: https://github.com/ros/rosdistro/pull/24345/files

[2020-04-03 19:26] #271 closed, assigned to nobody

[2020-05-05 18:22] #272 closed, assigned to nobody

[2020-05-05 18:22] SteveMacenski commented on #259
Closing from solution provided by @taketwo

[2020-05-05 18:22] #259 closed, assigned to nobody

[2020-05-05 23:31] kunaltyagi opened #276 "Noetic CI fails at melodic-devel"
https://github.com/ros-perception/perception_pcl/pull/273#issuecomment-624225229

Removing the deprecation causes build errors, while not removing them causes build failure because of warnings caused by deprecation in PCL.

[2020-05-06 04:24] SteveMacenski commented on #262
Supported version is https://www.ros.org/reps/rep-0003.html#kinetic-kame-may-2016-may-2021 if you are working with pcl-1.8 on Kinetic, you will need to modify some files. The melodic branch should work with 1.8.1.

[2020-05-06 04:24] #262 closed, assigned to nobody

[2020-05-12 00:31] jacobperron opened #278 "Foxy release"
As we prepare for the release of Foxy, the `perception_pcl` packages should be released as they are [part of the `desktop` variant](https://github.com/ros2/variants/blob/c0f3fce1afed398a432f4262e0887e57ff37c61c/desktop/package.xml#L17).

[2020-05-12 01:52] SteveMacenski commented on #278
Noted - I'll put on my queue for tomorrow now that the 1.11 changes are in.

[2020-05-12 19:54] SteveMacenski commented on #278
@jacobperron we still need pcl msgs. I'm submitting that now but that needs to be in before I can get CI spinning on Foxy for this repo to release it.

https://github.com/ros/rosdistro/pull/24835

[2020-05-13 18:45] SteveMacenski commented on #278
Release https://github.com/ros-perception/perception_pcl/releases/tag/2.2.0

https://github.com/ros/rosdistro/pull/24871

This covers PCL conversions, PCL ROS is still unported.

PS, I know there's some blocking chart for release from Noetic I can't seem to find one for Foxy. Do you know where the tool is to see what's blocking what for release?

[2020-05-13 18:45] #278 closed, assigned to nobody

[2020-05-13 19:00] jacobperron commented on #278
Thanks!

I think you are referring to this: http://repo.ros2.org/status_page/blocked_releases_foxy.html

[2020-05-13 19:04] SteveMacenski commented on #278
:facepalm: I tried changing just the noetic to foxy on this URL I have saved http://repositories.ros.org/status_page/blocked_releases_noetic.html?s=6&r=1

[2020-05-27 15:41] coxep opened #281 "Octomap to PointCloud conversions"
I have a possible PR for converting occupied voxels of binary octomap_msgs::octomap messages to PCL pointclouds. Is this something that would be of any interest?

If so, where would be the best place for this to live? I looked at `pcl_conversions`, and it seems to deal exclusively with one-to-one conversions between analogous ROS and PCL types. Perhaps `io` or `filters`?

If this isn't of interest

[2020-05-27 15:46] SteveMacenski commented on #281
Perhaps Octomap ROS? https://github.com/OctoMap/octomap_ros? Here could also work.

[2020-05-27 16:23] coxep commented on #281
OK, thank you.

[2020-05-27 16:23] #281 closed, assigned to nobody

[2020-05-31 20:10] Hasandaoud opened #282 "unknown error"
i am willing to do slam using rtabmap-ros using ros melodic and ubuntu 18.04 desktop.
i've cloned the git which is the perception_pcl into the src of my catkin work space.
when i do the command catkin_make i am facing an error which is:
/opt/ros/melodic/lib/libtf.so: undefined reference to `tf2_ros::TransformListener::TransformListener(tf2::BufferCore&, ros::NodeHandle const&, bool)'
collect2: err

[2020-05-31 21:27] SteveMacenski commented on #282
Please ask on ROS Answers

[2020-05-31 21:27] #282 closed, assigned to nobody

[2020-06-11 12:06] blacksoul000 commented on #225
any news?

[2020-06-11 14:29] peci1 opened #283 "PCLNodelet: The tf listener doesn't use the nodelet nodehandles."
The `tf_listener_` member of `PCLNodelet` is only default-constructed, which means it uses a default-constructed NodeHandle. That means no `nodelet load` remappings have an effect on the topics the TF listener subscribes to. Only remappings done on the manager will affect it. I think the listener should use the nodelet's dedicated nodehandles, which correctly receive the needed remappings.

MWE:

[2020-06-11 17:24] paulbovbel commented on #225
perception_pcl has been ported to ROS2, https://github.com/ros-perception/perception_pcl/tree/foxy-devel

[2020-06-11 17:56] SteveMacenski commented on #225
@paulbovbel  I don't think that's true https://github.com/ros-perception/perception_pcl/tree/foxy-devel/pcl_ros `pcl_ros` has a big ol' COLCON_IGNORE in the root. I don't think its been ported at all yet

[2020-06-11 18:17] paulbovbel commented on #225
oh wow, i'm just completely misinformed, thanks!

[2020-06-11 19:22] SteveMacenski commented on #283
Its unideal to rely on something like that. The only reason you have the ability to remap that easily is due to the use of TF. TF2 removed the ability to do that. TF is deprecated in Melodic but still released but in Noetic and ROS2 that ability doesn't exist. I don't think you should rely on a deprecated feature.

[2020-06-12 07:03] peci1 commented on #283
I'm sorry, but I don't think you're getting me right. I'm not "remapping" TF frames. I'm remapping topics. What would be deprecated about remapping (general) topics?

[2020-06-12 18:12] SteveMacenski commented on #283
Yeah, that's actually the issue. If I understand you correctly [these docs](http://wiki.ros.org/tf2) show deprecation in TF2. e.g.

[code]

More info: https://www.osrfoundation.org/wordpress2/wp-content/uploads/2015/04/tf2.pdf

They hardcode `/tf` into the code and make it very difficult to remap that topic in TF2. So I think what you're trying to do is woefully deprecated so in fixing that issue,

[2020-06-14 11:09] Jxpenggf opened #284 "How to use high version pcl in ros"
My computer is pcl1.10, but when I use pcl_ros the following occurs：
  Project 'pcl_ros' specifies '/usr/include/pcl-1.7' as an include dir, which
  is not found.  It does neither exist as an absolute directory nor in
  '${{prefix}}//usr/include/pcl-1.7'.

[2020-06-15 00:31] peci1 commented on #283
We're still talking about two different remappings.

What tf2 stopped supporting is remapping TF frame_ids, so e.g. frame `base_link` will not get changed if you launch the node with remapping args `base_link:=other_link`.

What I'm talking about is remapping the name of the `/tf` topic itself, which is okay and supported throughout ROS (it is just a normal topic, nothing special about that). It j

[2020-06-15 16:45] SteveMacenski commented on #284
For each ROS distribution, per [REP 103](https://www.ros.org/reps/rep-0003.html), we only officially support 1 PCL version. If you'd like to use another, you'll have to work through the issues. If its API compatible, you may just need to change the version to find in the CMakeLists. But going from 1.1 to 1.7 will likely have breaking issues that you must upgrade or use a very old branch of this an

[2020-06-15 16:45] #284 closed, assigned to nobody

[2020-06-15 16:48] SteveMacenski commented on #283
That's also what I'm talking about. That is not remappable in TF2. Part of no tf prefixes is also that there's not recommended behavior to rename the TF topic or add namespaces. Please review the TF2 and migration guide documentation.

The migration guide specifically calls out that if you want to do that, you should be using multi-core solutions.

[2020-06-15 19:12] paulbovbel commented on #283
It's totally normal to remap `/tf*` topics, such as for segregating multiple tf trees for multi-robot setups. Transport topics are completely distinct from frame ids.

[2020-06-15 19:13] paulbovbel commented on #283
AFAIK it's totally normal to remap `/tf*` topics, e.g. for partitioning tf trees for multi-robot setups. Transport topics are completely distinct from frame ids, and nothing prevents, or advises against, remapping the former.

[2020-06-15 19:13] paulbovbel commented on #283
AFAIK it's totally normal to remap `/tf*` topics, e.g. for partitioning tf trees as @peci1 calls out. Transport topics are completely distinct from frame ids, and nothing prevents, or advises against, remapping the former.

Topic remaps exist specifically to eliminate the proliferation of `topic_name` parameters everywhere, and allow otherwise 'hardcoded' topics to be easily updated during integra

[2020-07-01 09:40] ShivamPR21 opened #286 "[foxy] pcl_conversions build error: PCL requires C++14 or above"
I have manually compiled pcl version 1.11 and while building pcl_conversions with it, throws an error repeatedly saying PCL requires C++14 or above as discussed in https://github.com/PointCloudLibrary/pcl/issues/3104 it seems that  target should link against PCL_LIBRARIES like
```target_link_libraries(${PROJECT_NAME}-test ${Boost_LIBRARIES} ${PCL_LIBRARIES})```
in pcl_conversions/cmakelist.txt thi

[2020-07-01 09:59] ShivamPR21 commented on #286
![image](https://user-images.githubusercontent.com/46261813/86231144-b1825100-bbaf-11ea-9d99-962508d6b694.png)

[2020-07-01 16:47] SteveMacenski commented on #286
https://www.ros.org/reps/rep-2000.html#foxy-fitzroy-may-2020-may-2023

The minimum language requirements for Foxy is C++14 so I think that's already fulfilled unless we're setting it somewhere in the code to a lesser value. If there's some problem with linking, a PR would be appreciated to resolve any issues. Remember that Foxy officially supports 1.10.0 not 1.11.0, but open to helping you get it

[2020-07-01 17:50] ShivamPR21 commented on #286
I think that this a linker error as it's written in pcl docs https://pcl.readthedocs.io/projects/tutorials/en/latest/using_pcl_pcl_config.html#using-pcl-pcl-config the target_link_library() is needed for telling compiler which libraries we are linking against this answer also tells the same https://stackoverflow.com/a/43457154.
![image](https://user-images.githubusercontent.com/46261813/86276273-3

[2020-07-01 17:52] ShivamPR21 commented on #286
@SteveMacenski probably I may be wrong in deducing the actual cause of the error but does there any reason to deny target_link_libraries() for the project.

[2020-07-01 18:14] SteveMacenski commented on #286
Please submit a PR

[2020-07-01 19:13] #286 closed, assigned to nobody

[2020-07-14 17:58] SteveMacenski commented on #225
https://github.com/ros-perception/perception_pcl/pull/285

ROS1 ticket that should be added to ROS2 once ported

[2020-07-24 21:26] SteveMacenski opened #291 "Potentially re-scope perception_pcl to perception_3d and include conversions for open3d"
Per https://github.com/unr-arl/open3d_ros/issues/6#issuecomment-663727821 we have some traction for including conversions from ROS to open3D as well as PCL. These are pretty simple functions, but having that as 'batteries included' in ROS would be great if more users decide to play around or use Open3D rather than PCL.

I'd like to propose renaming this repo `perception_3d` and maintain everything

[2020-07-25 00:21] clalancette commented on #291
I will say that `perception_pcl` feels a lot more descriptive than `perception_3d`.  The latter could mean a lot of different things.

How about introducing a new repository `perception_open3d`?  That keeps the churn here minimal, keeps the names of the repositories generally descriptive, and keeps with the federated model of ROS.  Thoughts?

[2020-07-25 00:34] SteveMacenski commented on #291
I'd also be OK with that. Given the (very small) amount of code, having in the same repo is just convenient for releases. I'm not sure I follow the federated model comment - these are still independent packages to be installed separately. They'd just in the same repo for organizational purposes.

[2020-07-25 13:09] clalancette commented on #291
It just seems that separate repos for separate concerns makes sense to me.  On the other hand, if you consider that PCL and Open3D address the same concern, then renaming this repo to something like `perception_pcl_open3d` may make sense (I don't really like that name, but something that is a bit more descriptive would help).

Ultimately, I don't have a strong opinion.  As long as the package name

[2020-07-25 16:38] SteveMacenski commented on #291
Ok. I can either way on it too. Maybe just a new repo is the way to go if not strongly opinionated.

[2020-07-27 18:15] nkhedekar commented on #291
You're right, `perception_open3d` would be the better option. If someone can make the repository, @matnay and I can make a PR into it.

[2020-07-27 18:32] SteveMacenski commented on #291
https://github.com/ros-perception/perception_open3d done. I opened it under and Apache 2.0 license. If you'd like another license, let me know. Apache 2.0 is typically what we use for ROS-core-things unless you have a strong opinion on another one. Once you have the PR there, I'll work on adding CI and releasing it (would you like to know how to do that?). I'll add you as an admin as well to be ab

[2020-07-27 18:43] nkhedekar commented on #291
Thank you @SteveMacenski! Yep, that'll work.

[2020-07-27 18:46] SteveMacenski commented on #291
Let me know in the CI all the github user names I should give admin for on your side

[2020-07-27 18:51] nkhedekar commented on #291
Yep, this would be @nkhedekar, @matnay and @kostas-alexis

[2020-07-27 19:34] #291 closed, assigned to nobody

[2020-08-03 15:11] ItsMeTheBee opened #294 "[Eloquent] Could not find package "PCL""
Hey there!

I´m a little confused about the installation of this package.
In my workspace (in a ros:eloquent docker container) I pulled this repo, checked out eloquent_devel and tried building it using
`colcon build --symlink-install`

This results in

[code]

I played around a bit and i think the issue is that i´m not able to build ros_pcl.

`colcon build --symlink-install --packages-select pcl_r

[2020-08-03 15:12] SteveMacenski commented on #294
Please ask on ROS Answers

[2020-08-03 15:12] #294 closed, assigned to nobody

[2020-08-03 15:52] ItsMeTheBee commented on #294
I didn´t know PCL is a ubuntu package.
`apt install libpcl-dev` fixed the issue.

[2020-08-06 10:19] kunaltyagi opened #295 "Wiki page out-of-date"
Since PCL shifted to `std::shared_ptr`, the documentation on the wiki page is out of date. Example: https://wiki.ros.org/pcl_ros#Publishing_point_clouds

It uses a typedef from PCL, which is now `std::shared_ptr<pcl::PointCloud<pcl::PointXYZ>>` but ROS expects `boost::shared_ptr<pcl::PointCloud<pcl::PointXYZ>>`

`ros_ptr` and `pcl_ptr` for interfacing between ROS and PCL might also need to be intr

[2020-08-06 10:20] kunaltyagi commented on #295
Relevant PointCloudLibrary/pcl#4307

[2020-08-06 19:32] SteveMacenski commented on #295
What specifically should change? I don't see anything with `boost::shared_ptr`, things look OK to me. Everything is typedefed from `typedef pcl::PointCloud<pcl::PointXYZ> PointCloud;`, which I think should hide any of that to a user?

[2020-08-06 20:16] kunaltyagi commented on #295
With PCL 1.11 at least, the following lines will throw an error:
* https://wiki.ros.org/pcl_ros#CA-226070dcbe48ef19c444eb4914084fc903868f16_14
* https://wiki.ros.org/pcl_ros#CA-2c92c01374035f603e08bcde0eb24382b1ccd02e_8

That's due to them using `std::shared_ptr` (from PCL) while ROS expected `boost::shared_ptr`

[2020-08-06 20:25] SteveMacenski commented on #295
What's the specific fix I should change it to

[2020-08-06 20:30] kunaltyagi commented on #295
* Not use `PointCloud<T>::{Const}Ptr` on subscriber callback parameter. Instead use `boost::shared_ptr<{const} PointCloud<T>>`
* Use `ros_ptr(message)` in the publish calls to convert from std pointer to boost pointerc

[2020-08-17 11:36] DanWillans opened #303 "License - Which BSD?"
Hi guys,

Could you tell me what version of the BSD license this package uses?

Thanks,
Dan

[2020-08-21 21:42] sayali-purdue opened #304 "No header (frame_id) is set for the sensor_msgs::Image output of 'toROSMsg'"
There are three `toROSMsg` functions, converting input to `sensor_msgs::Image` output, in [pcl_conversions.h](https://github.com/ros-perception/perception_pcl/blob/melodic-devel/pcl_conversions/include/pcl_conversions/pcl_conversions.h)

All these functions do not assign the header of the `sensor_msgs::Image` output variable unlike other conversion functions that convert to `sensor_msgs::PointClou

[2020-08-21 22:16] SteveMacenski commented on #304
Probably an oversight, a PR to fix would be appreciated.

[2020-09-03 10:07] YoshuaNava opened #307 "[pcl_conversions / pcl_ros] Depending on libpcl-all-dev implicitly introduces UI dependencies"
Dear Developers,
My name is Yoshua Nava. I'm a Perception Software Engineer at ANYbotics AG (Zurich, Switzerland)

We use the `perception_pcl` packages in our software (specially `pcl_ros`), building upon the many cool tools from the Point Cloud Library. We install these in our robot, which has PCs that run in headless mode (no GUI).

However, we have noticed recently that when installing `pcl_ros

[2020-09-03 12:36] clalancette commented on #307
This seems totally reasonable to me; it is similar to what we did with the boost libraries.  Please feel free to open up a PR with the changes.

[2020-09-03 13:17] YoshuaNava commented on #307
@clalancette Thank you very much, that is great to hear.

I also got in contact with the rosdistro maintainers to introduce the individual packages to the rosdep keys. And I sent an email to the maintainers of the PCL PPA, because I found out that pcl-io also depends on graphical libraries: https://packages.ubuntu.com/focal/libpcl-io1.10

I have to wait for those two sources to reply before I proc

[2020-09-03 15:11] SteveMacenski commented on #307
I’ve got no issue with any of that, but close the PR until those rosdep keys are valid and could be reasonably merged.

[2020-09-03 16:32] YoshuaNava commented on #307
@SteveMacenski Oki.

I have submitted https://github.com/ros/rosdistro/pull/26448, will wait for it to be merged and then re-open the PR here.

[2020-09-03 17:12] SteveMacenski commented on #307
Thanks, I just don't want to have someone accidentally merge a very reasonable looking PR without knowing the keys don't exist :smile:

[2020-09-07 09:54] YoshuaNava commented on #307
Hi @SteveMacenski and @clalancette,

I'm currently finishing the PR at rosdistro, collecting individual PCL Debian package IDs for each Linux distro where ROS is deployed. I have also gotten in contact with the Ubuntu Debian maintainers to see if some of the UI depends can be split away from the modules such as `pcl-io`, which depends on vtk (which translates into graphic depends)

Until I'm finis

[2020-09-07 15:53] clalancette commented on #307
For `pcl_conversions`, there isn't anything to change; it is already a `build_export_depend` on libpcl-all-dev, which makes sense since that is a header-only library.

For `pcl_ros`, you could indeed split the current `<depend>libpcl-all-dev</depend>` into `<build_depend>libpcl-all-dev</build_depend>` and `<exec_depend>libpcl-all</exec_depend>`.

[2020-09-09 09:06] DanWillans commented on #303
Hi guys,

Sorry to pester. Are there any updates?

Thanks,
Dan

[2020-09-10 15:31] paulbovbel commented on #303
Looking at the headers, it looks to be the 3-clause BSD license

[2020-09-11 09:04] DanWillans commented on #303
Thanks for the reply @paulbovbel :+1: I will come back and close this ticket.

[2020-09-11 14:58] #303 closed, assigned to nobody

[2020-09-15 13:08] sonumathur opened #309 "How to use pcl_conversion to convert pointcloud2 massage (PiontXYZRGB) into PointXYZI"
I am using ROS to capture pointcloud using realsense D435 depth camera on Ubuntu 18.04 and ROS Melodic. The pointcloud produced using the "rosrun pcl_ros pointcloud_to_pcd input:=/" is PointXYZRGB type. I want to convert this pointcloud2  to PointXYZI using pcl_conversion.

How can i Convert this in ROS environment  ......?

[2020-09-27 18:50] mvieth commented on #309
The published clouds probably have the RGB field, and they are written without any conversion to the pcd file. You could either adapt the [pointcloud_to_pcd node](https://github.com/ros-perception/perception_pcl/blob/melodic-devel/pcl_ros/tools/pointcloud_to_pcd.cpp) to your needs, or deal with the conversion when you load the pcd files.

[2020-10-08 14:27] nnmm commented on #278
@SteveMacenski Our group is porting a ROS1 repo which uses `pcl_ros` to ROS2. Ideally we'd like to use a precompiled package for Foxy. I assume your comment in https://answers.ros.org/question/359821/how-to-use-pcl_ros-with-ros-2-eloquent/ still applies and the migration is not complete yet? If you could summarize the status and what still needs to be done, that would be very helpful for us to see

[2020-10-08 18:38] SteveMacenski commented on #278
The 2 draft, incomplete PRs from older ROS2 distributions is all we have right now. So far, no one's wanted to put in the time to complete those ports or port things. I don't think we need to port things all at once, so just sections of it at a time.

[2020-10-13 07:30] kunaltyagi opened #310 "Release new update for perception_pcl"
The changes for compatibility with recent versions of PCL haven't been released yet (as per ros gbp). Is there any timeline for releasing an update?

[2020-10-13 16:16] SteveMacenski commented on #310
Which distributions do you have in mind?

[2020-10-13 16:42] kunaltyagi commented on #310
At least Ubuntu lts 20.04 and debian buster. I don't know how easy or difficult it'd be, so this is basically the minimum list. I'd add 18.04 too if it's possible

[2020-10-13 16:52] SteveMacenski commented on #310
What distributions of ROS that have updates requiring a new bloom run, sorry.

[2020-10-14 04:19] kunaltyagi commented on #310
noetic

[2020-10-14 19:13] SteveMacenski commented on #310
Got it - done

https://github.com/ros/rosdistro/pull/26968

[2020-10-14 19:13] #310 closed, assigned to nobody

[2020-10-21 06:02] Magesh7803 opened #312 "unable to build pcl_ros"
HI,
I have source installation of Foxy and while tryinf to build perception_pcl, i get the following error. Can you pls suggest what could be the issue.
ros2@ros2-HP-EliteBook-850-G3:~/tespcl$ colcon build
Starting >>> pcl_msgs
Finished <<< pcl_msgs [23.4s]
Starting >>> pcl_conversions
Finished <<< pcl_conversions [23.4s]
Starting >>> pcl_ros
--- stderr: pcl_ros
<command-line>:0:1: error: macro na

[2020-10-21 09:38] EmilRybergAAU commented on #312
I also get this error on foxy, trying to build foxy-devel branch of this repo.

[2020-10-22 15:55] Magesh7803 commented on #312
Upgrading pcl to the lastest version i.e. pcl-1.11 solved this issue.

[2020-10-23 04:53] Magesh7803 commented on #312
Upgrading pcl to the lastest version i.e. pcl-1.11 solved this issue.

[2020-10-23 04:53] #312 closed, assigned to nobody

[2020-10-30 19:48] rafaelRinconFo commented on #309
Hi @sonumathur Did you find a way to do it?

[2020-11-04 00:28] Zaaler opened #315 "Multiple threads using toROSMsg causes node to crash"
Code referenced to is located in the perception_pcl.h

I've been using toROSMsg to convert PCLPointClouds<T> to sensor_msgs::msg::PointCloud2 and ran into a problem. If I pass in a sensor_msgs::msg::PointCloud2::SharedPtr, the node will crash on the assignment of:
auto time_stamp = rclcpp::Time(header.stamp);

So, I switched to using just a sensor_msgs::msg::PointCloud2 and the clouds were populat

[2020-11-06 07:47] mitsudome-r commented on #225
Are there any updates about the foxy porting?
It looks like nodelets and filters are not ported yet, but transform library has been ported.
I think it would be valuable for many users if it is released as binary package with current status.

[2020-11-06 17:02] SteveMacenski commented on #225
No users have shown interest in porting parts of it yet. If you’d like to, I’d be more than happy to review PRs

[2020-11-12 07:11] #307 closed, assigned to nobody

[2020-11-27 16:09] mvieth commented on #315
Perhaps you should post a larger snippet of your code (where you call the convert function). When you use the shared pointer, do you initialize it? (e.g. with `reset`)
Possibly important: what ROS version do you use (I see that you use ROS 2, but which one specifically?), what version of perception_pcl, how did you install it (compiled from source, apt, something else)?

[2020-12-01 08:19] CuteEric opened #317 "cmake failed"
it cmake failed, with printing info as below in my pc:
pcl_ros/pcl_ros/include/pcl_ros/point_cloud.h:303:27: warning: variable templates only available with -std=c++14 or -std=gnu++14
     constexpr static bool pcl_uses_boost = true;
                           ^~~~~~~~~~~~~~
how to solve the problem?

[2020-12-01 12:19] ivan1993br opened #318 "Ubuntu xenial error on /usr/include/hdf5/openmpi and libvtkproj4-6.2.so.6.2.0"
Hi guys,

## Problem
When compiling a 2d costmap layer I had this problem  first `'/usr/include/hdf5/openmpi' as an include
  dir, which is not found. ` and then `No rule to make target '/usr/lib/x86_64-linux-gnu/libvtkproj4-6.2.so.6.2.0'`.

## Possible cause
 I was tracking the problem and I think it is in the dependency of this package the `libpcl-dev` that depends on `libvtk6.2-dev` that on xen

[2020-12-01 13:11] fmessmer commented on #318
yes, I see the same issue

I came across it during my kinetic CI jobs for packages that depend on `costmap_2d`:
https://github.com/ros-planning/navigation/issues/1058

[2020-12-01 15:31] SteveMacenski commented on #317
Have you tried what it suggested?

[2020-12-01 17:16] SteveMacenski commented on #318
Ditto to Ferg's comment:

[code]

We haven't changed anything here or re-released

[2020-12-01 17:35] ivan1993br commented on #318
I do not know if I got your point, but yes, the problem is not exactly on this package per say, but on its dependencies.

What I think that happened is that: pcl-ros dependes on libpcl, and libpcl depends on libvtk6, so when it was released with OSRF packages, it used the libvtk6 released by them(`6.2.0+dfsg1-10build1+debian11.1+osrf1`) available [here](http://repositories.ros.org/ubuntu/main/pool

[2020-12-01 21:22] mhwasil commented on #318
I got the same issue just recently

[2020-12-01 22:50] SteveMacenski commented on #318
I think what Fergs and I mean is that this isn't an issue for this particular project. I recognize that its definitely a problem overall, but I think there's a different repo / group that should be looped in to help resolve it (since this isn't a `perception_pcl` or `navigation` codebase issue).

Can you identify a specific vtk release that broke this? If so, can you file a ticket / email a mainta

[2020-12-02 07:28] kyrofa commented on #318
I think @ivan1993br is right. The ubuntu update was fixing [this bug](https://bugs.launchpad.net/ubuntu/+source/vtk6/+bug/1573234). We were in a weird spot, where vtk6 was building against the system libproj, but pcl still had vtk's old vendored libproj written into its cmake config files which caused compile errors when using them together. To fix this, OR backported a vtk6 fix from Debian that r

[2020-12-03 10:04] mintar commented on #318
For people coming here just looking for a quick fix while waiting for the new release: Simply clone this repo (perception_pcl) into your Catkin workspace to build from source.

[2020-12-03 12:47] ivan1993br commented on #318
Just an alternative: Pin the version on apt, to get osrf libs, editing ~~apt /etc/preferences.d/ros-pin~~ `/etc/apt/preferences.d/ros-pin`:
[code]
See [here](https://wiki.debian.org/AptConfiguration) for more information, this will use the libs released by osrf, this config will need to be removed later, after the fix

[2020-12-03 15:28] joe28965 commented on #225
Does `pcl_conversions` work in ROS 2 Foxy?
I have tried using it, but I can't get `pcl_conversions::toPCL` working. It keeps giving a `no instance of overloaded function "pcl_conversions::toPCL" matches the argument list` error.
I was looking at the code, but `void toPCL(const sensor_msgs::msg::PointCloud2 &pc2, pcl::PCLPointCloud2 &pcl_pc2)` is the function which I would need, however I can't get

[2020-12-03 17:12] mintar commented on #318
That's also a great solution! Minor note: The file should be called `/etc/apt/preferences.d/ros-pin`.

[2020-12-03 17:17] jarvisschultz commented on #318
One other quick note. If you do have the `vtk` packages from OSRF installed you may also need to manually install `libproj-dev` since the OSRF versions don't have a dependency on that package. If that package is missing you may see errors like:

[code]

[2020-12-03 17:22] ivan1993br commented on #318
~~This error is with vtk and libpcl from OSRF? Curious, because I think that the pcl from OSRF does not use system libproj, but instead vtk one.~~  Ignore my comment, I made some confusion with the packages on the ros repos, on ubuntu xenial x64, only vtk has a different release

[2020-12-03 17:45] jarvisschultz commented on #318
Well, `vtk` is from OSRF, but `libpcl1.7` is provided by packages on Ubuntu's repositories. When I see this error:
[code]

So I think that the the issue is that there was a [new release of PCL](https://launchpad.net/ubuntu/+source/pcl/1.7.2-14build1.1) that went along with the updates to VTK.

[2020-12-03 17:48] jarvisschultz commented on #318
Well, `vtk` is from OSRF, but `libpcl1.7` is provided by packages on Ubuntu's repositories. When I see this error:
[code]

So I think that the the issue is that there was a [new release of PCL](https://launchpad.net/ubuntu/+source/pcl/1.7.2-14build1.1) that went along with the updates to VTK.

[2020-12-03 18:21] kyrofa commented on #318
Indeed, [this comment](https://github.com/ros/rosdistro/issues/27538#issuecomment-737498157) hopefully breaks thing down in a way that makes sense.

[2020-12-03 21:14] SteveMacenski commented on #225
Yes, it should

[2020-12-04 06:53] joe28965 commented on #225
do you know of any examples, or anybody who has used it?

[2020-12-04 18:58] SteveMacenski commented on #315
PR has been merged

[2020-12-04 18:58] #315 closed, assigned to nobody

[2020-12-06 00:37] Hexonberg commented on #318
try this

sudo ln -s /usr/lib/x86_64-linux-gnu/libvtkCommonCore-6.2.so /usr/lib/x86_64-linux-gnu/libvtkproj4-6.2.so.6.2.0

[2020-12-06 16:53] mvieth commented on #304
The linked pull request is a partial fix for the problem (more specifically, for the second point).

[2020-12-07 01:50] AndrewLipscomb commented on #318
For those wanting a pinning solution like [this one](https://github.com/ros-perception/perception_pcl/issues/318#issuecomment-737942173) but less overarching - try this

`/etc/apt/preferences.d/99-ros-pin-for-pcl`

[code]

Strictly speaking I don't think the `-1` pin is necessary - but I've never done pinning before so ... yeah.

This should the pin on the related packages that have been revendore

[2020-12-07 19:49] ivan1993br commented on #318
Closed [here](https://github.com/ros/rosdistro/issues/27538)

[2020-12-07 19:49] #318 closed, assigned to nobody

[2020-12-24 07:40] Schloern93 opened #320 "pcl/conversions.h: No such file or directory #include <pcl/conversions.h>"
Hello

Ros distro: eloquent on Ubuntu 18.04

I have cloned the package for Ros eloquent into my worspace. I was able to build the package successfully.
Now when I try to include the package I get the following error:
/opt/ros/eloquent/include/pcl_conversions/pcl_conversions.h:46: error: pcl/conversions.h: No such file or directory
 #include <pcl/conversions.h>

I am still quite new to ros. Therefo

[2020-12-24 10:11] mvieth commented on #320
Hi @Schloern93 ! `pcl/conversions.h` is a header from PCL itself, so most obvious question first: is PCL installed? Are the PCL header files in the cmake search path?

[2020-12-24 10:45] Schloern93 commented on #320
Thanks for the quick reply
I have installed pcl_conversion with the following command
sudo apt install ros-eloquent-pcl-conversions

The CMake path should be set by the following command in CMakeLst.txt or am I missing something?
find_package(pcl_conversions REQUIRED)

[2020-12-24 11:08] mvieth commented on #320
I was talking about PCL (the Point Cloud Library https://github.com/PointCloudLibrary/pcl). `pcl-conversions` is the package that handles conversions between PCL and ROS. But if you installed `ros-eloquent-pcl-conversions` via apt, then PCL should be automatically installed.
I am not 100% sure if there is something specific about this in ROS2, but you would usually have to do something like this:

[2020-12-24 12:11] Schloern93 commented on #320
Thanks for the help!
I forgot the following line in my CmakeList.txt
target_link_libraries(object_detection_node ${PCL_LIBRARIES})

I have one last question now. I want to evaluate each PointCloud2 msgs and get the points XYZ.
Does this already work for Ros2?

[2020-12-24 12:43] mvieth commented on #320
Does this already work for Ros2?

Functionality-wise, the ROS1 and ROS2 versions of this repo should be equivalent, as far as I know.

[2020-12-24 13:42] Schloern93 commented on #320
I have now tried after building the package to include this in my package in the same workspace.
Unfortunately, I still can't do it.

My project builds without errors.
But as soon as I try to insert pcl_ros into my .cpp file or to do this in my CMakeList.txt with
find_package(pcl_ros REQUIRED)
I get the following compiler error:

CMakeLists.txt:29: error: By not providing "Findpcl_ros.cmake" in CM

[2020-12-24 14:20] mvieth commented on #320
Did you install `ros-eloquent-pcl-ros`?
I am not sure what the recommended way is to do this in ROS2, you might have to wait for someone who knows. In ROS1 it is usually done like this: `find_package(catkin COMPONENTS pcl_ros)`

[2020-12-24 17:33] SteveMacenski commented on #320
Pcl ros is not yet ported to ROS2.

[2020-12-25 09:35] Schloern93 commented on #320
Thanks for the quick info.
Is there a way to simply edit the PointCloud2 data by hand to get the necessary coordinates of the pixels?

[2020-12-25 10:32] mvieth commented on #320
But pcl_conversions is already ported, right? So converting a PointCloud2 message to a `pcl::PointCloud<pcl::PointXYZ>` for example should work?

[2020-12-25 14:18] TheCodeSummoner opened #321 "AUR installation fails due to outdated include - ROS Noetic"
### Issue

The package can't be installed from AUR.

The following console output showcases the issue:

[code]

Running `ls /usr/include | grep pcl` yields:

[code]

The solution would be to ask for `pcl-1.11` instead of `pcl-1.10`.

### Environment

#### OS

- Distributor ID:	ManjaroLinux
- Description:	Manjaro Linux
- Release:	20.2
- Codename:	Nibia

#### Package manager

- yay v10.1.0 - libalpm

[2020-12-25 14:24] TheCodeSummoner commented on #321
Actually, I just tried changing it manually in the config file and the build failed anyway:

[code]

Is that a genuine error or something related to AUR version of the code being outdated?

[2020-12-28 18:12] SteveMacenski commented on #321
We do not support non-supported PCL versions. Each ROS distro has a specific supported PCL version. I’d be happy to field PRs to make it work with other PCL versions you may want to use, but maintainer cycles won’t be spent on it. We only support the specifically supported version.

[2020-12-28 18:13] SteveMacenski commented on #320
Yes. PCL conversions is released and ready to rock and roll

[2020-12-28 18:17] TheCodeSummoner commented on #321
Sorry, I'm new to using ROS and AUR in general, so things are still quite confusing to me. It seems that due to a recent update a lot of things starting falling over because of `libtf.so` (for example I can't even install ROS anymore), so I will investigate what's wrong at my package provider level instead. Thank you for your time.

[2020-12-28 18:17] #321 closed, assigned to nobody

[2020-12-29 08:58] Schloern93 commented on #320
How exactly can the conversion of the points be done?

I don't understand how to use the functions.
I have the following problem:
1. I use an Intel Realsense D435 camera. From this camera I receive a PointCloud2 message.

Used pcl includes
#include <pcl/conversions.h>
#include <pcl/point_types.h>
#include <pcl/point_cloud.h>
#include <pcl/PCLPointCloud2.h>
#include <pcl/PCLPointField.h>

Here is m

[2020-12-29 09:12] mvieth commented on #320
`pcl::fromROSMsg(point_cloud2_msgs, point_cloud)` [for API see here](https://docs.ros.org/en/noetic/api/pcl_conversions/html/namespacepcl.html#af662c7d46db4cf6f7cfdc2aaf4439760)

Alternatively you could try to change the callback to `void callback(const pcl::PointCloud<pcl::PointXYZ>::ConstPtr& msg)`, then the conversion should happen implicitly.

[2020-12-29 12:30] Schloern93 commented on #320
Thanks to all for the help. It has worked for me.
This is my function call:

     void callback_depth_image_d435 (const sensor_msgs::msg::PointCloud2::SharedPtr point_cloud2_msgs)
     {

      pcl::PointCloud<pcl::PointXYZ> point_cloud;
      pcl::fromROSMsg(*point_cloud2_msgs, point_cloud);

      BOOST_FOREACH(const pcl::PointXYZ& pt, point_cloud.points)
      {
          std::cout  << "x: " <<

[2020-12-29 12:30] #320 closed, assigned to nobody

[2021-01-15 08:58] ShepelIlya commented on #225
Is there any new information about pcl_ros port?

[2021-02-01 10:30] oguzhancebe commented on #257
I also get the following error on ROS Noetic
`CMake Error at /opt/ros/noetic/share/pcl_ros/cmake/pcl_rosConfig.cmake:113 (message):
  Project 'pcl_ros' specifies '/usr/include/vtk-7.1' as an include dir, which
  is not found.  It does neither exist as an absolute directory nor in
  '${{prefix}}//usr/include/vtk-7.1'. `

[2021-02-05 08:21] fawadahm commented on #295
@kunaltyagi: This has been very useful. I am trying to use ROS Melodic with PCL 1.11.0 via perception_pcl but I am facing the same problem you mentioned above when publishing a point cloud. I tried to use ```ros_ptr```. You can find the code as follows:

[code]

However, I cannot find ```ros_ptr``` in the pcl namespace. Could you help me tackle this?
In ```catkin_ws/src/``` I have my ```perception

[2021-02-05 08:27] kunaltyagi commented on #295
It should be present at the end of [pcl_ros/point_cloud.h](https://www.github.com/ros-perception/perception_pcl/tree/melodic-devel/pcl_ros/include/pcl_ros/point_cloud.h)

The link might be wrong. On my mobile right now

[2021-02-05 08:38] fawadahm commented on #295
@kunaltyagi , thank you. I do see it there and I am trying to reference it using that namespace ```pcl::ros_ptr``` but I keep getting the same error i.e., ```ros_ptr is not a member of pcl```. Could you please help me dig deeper? The following is what my CMakeLists.txt looks like:

[code]

[2021-02-05 08:45] kunaltyagi commented on #295
You need pcl_ros package, not the pcl catkin package. You might also need to use find package pcl and link the pcl libraries, if I remember correctly

[2021-02-05 19:03] fawadahm commented on #295
Thank you. By any chance, do you a catkin package that uses pcl_ros that I can use as a reference?

[2021-02-05 19:38] mvieth commented on #295
Have a look at the [wiki page](https://wiki.ros.org/pcl_ros), on the right side, under "Used by".